Repository DevKyleS/datadog-documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide

.github/labeler.yml:

Github:
- .github/**/*

Images:
- assets/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- src/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

Add warning to CSI Driver docs on upgrading to Datadog Operator 1.28.0 (#38037)
  content/en/containers/kubernetes/csi_driver.md
Labels: none

[DOCS-14455] Add custom log config to Fleet Automation (#38049)
  config/_default/menus/main.en.yaml
  content/en/agent/fleet_automation/configure_logs.md
Labels: Architecture

Remove deprecated get_widget_reference_compressed tool (#38104)
  content/en/mcp_server/tools.md
Labels: none

Add Trace sampling subsection to Agent Observability SDK reference (#38085)
  content/en/llm_observability/instrumentation/sdk.md
Labels: none

Document agentic usage attribution in Audit Trail (#37955)
  content/en/account_management/audit_trail/_index.md
  content/en/account_management/audit_trail/events.md
  content/en/account_management/audit_trail/guides/_index.md
  content/en/account_management/audit_trail/guides/track_agentic_usage_in_your_organization.md
Labels: none

Add BYOC Logs 0.1.31 release notes (#38096)
  content/en/byoc-logs/release_notes.md
Labels: none

relative alias fix (#37852)
  content/en/account_management/audit_trail/guides/track_dashboard_access_and_configuration_changes.md
  content/fr/account_management/audit_trail/guides/track_dashboard_access_and_configuration_changes.md
  content/ja/account_management/audit_trail/guides/track_dashboard_access_and_configuration_changes.md
Labels: none

Remove subprocessor name (#38113)
  content/en/incident_response/incident_management/setup_and_configuration/integrations/microsoft_teams/_index.md
Labels: none

[PROF-15376] Document that Ruby heap live size profiling is not compatible with Ruby 4 (#38117)
  content/en/profiler/enabling/supported_versions.md
  content/en/profiler/profile_types.md
  layouts/shortcodes/mdoc/en/profiler/enabling/ruby.mdoc.md
Labels: Architecture

Fix broken kubernetes.yaml example link in Agent v5 Kubernetes guide (#38111)
  content/en/agent/guide/agent-5-kubernetes-basic-agent-usage.md
Labels: Guide

[WEB-9543] Add `prodname` shortcode to protect product names from translation. (#38050)
  layouts/shortcodes/prodname.html
Labels: Architecture

[CONTP-1795] Add agent performance metrics to agent telemetry page (#38045)
  content/en/data_security/agent.md
Labels: none

Add 2.18 changelog to docs (#38052)
  content/en/observability_pipelines/guide/upgrade_worker.md
Labels: Guide

Add SCA remediation with Bits Code and internet access notes (#38107)
  content/en/security/code_security/software_composition_analysis/_index.md
  content/en/security/code_security/troubleshooting/_index.md
Labels: none

Default behavior settings for signals and security cases (#38091)
  content/en/security/cloud_siem/triage_and_investigate/investigate_security_signals.md
Labels: none

Update _index.md (#37853)
  content/es/security/code_security/iast/_index.md
Labels: none

Addition of a description for the Session Replay and Product Analytics toolsets (#38118)
  content/en/mcp_server/tools.md
Labels: none

Update usage constraints for Agent Obs DAC (#38126)
  content/en/account_management/rbac/data_access.md
Labels: none

Support inferred spans for Java in Azure API Management (#38115)
  content/en/tracing/trace_collection/proxy_setup/azure_apim.md
Labels: none

Clarify IP ranges vary per Datadog site on Snowflake page (#38105)
  content/en/data_observability/quality_monitoring/data_warehouses/snowflake.md
Labels: none

add permission pre-requisite section (#38131)
  content/en/logs/guide/azure-automated-log-forwarding.md
Labels: Guide

remove previews (#38134)
  content/en/observability_pipelines/destinations/datadog_metrics.md
  content/en/observability_pipelines/destinations/elasticsearch.md
  content/en/observability_pipelines/sources/datadog_agent.md
  content/en/observability_pipelines/sources/opentelemetry.md
Labels: none

Joseph.borkowski/syn 5024 (#37829)
  content/en/synthetics/notifications/template_variables/api.mdoc.md
  customization_config/en/option_groups/synthetics.yaml
Labels: none

Use standardized adv config link (#38135)
  layouts/shortcodes/observability_pipelines/tls_settings.en.md
Labels: Architecture

Document externalBrowserLoginPolicy device policy (#38122)
  content/en/mobile/enterprise_configuration.md
Labels: none

Update saas_costs.md (#38114)
  content/en/cloud_cost_management/setup/saas_costs.md
Labels: none

Removes infrastructure-resources configuration (#38088)
  layouts/schema/single.html
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

fix: remove incorrect escaping from $basearch in the Datadog Security CLI repository URL (#38130)
  content/en/security/cloud_security_management/setup/ci_cd/_index.md
Labels: none

[DOCS-14723] Add injector debug logs section to SSI troubleshooting page (#37875)
  content/en/tracing/trace_collection/single-step-apm/troubleshooting.md
Labels: none

enhancement(op): Update docs on previewing Grok lib rules and reordering custom rules (#38124)
  content/en/observability_pipelines/processors/grok_parser.md
  static/images/observability_pipelines/processors/grok_parser_rule_order.png
  static/images/observability_pipelines/processors/grok_parser_setup.png
Labels: none

docs(agent): document stack trace aggregation for auto multi-line detection (#38055)
  content/en/agent/logs/auto_multiline_detection.md
Labels: none

Document OCI events collection in getting started guide (#37869)
  content/en/getting_started/integrations/oci.md
Labels: none

adding api how to for mnf (#38147)
  content/en/getting_started/integrations/aws.md
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/aws-integration-and-cloudwatch-faq.md
  content/en/integrations/guide/aws-metric-name-filters.md
Labels: Guide

fixes frontmatter entries for a few content files (#38173)
  content/en/actions/app_builder/queries.md
  content/en/agent/guide/agent-5-autodiscovery.md
  content/en/agent/guide/agent-5-kubernetes-basic-agent-usage.md
  content/en/error_tracking/frontend/mobile/unity.md
  content/en/observability_pipelines/legacy/_index.md
  content/en/real_user_monitoring/error_tracking/mobile/unity.md
  content/es/serverless/guide/datadog_forwarder_dotnet.md
  content/es/tracing/trace_collection/library_config/dotnet-core.md
  content/fr/dashboards/widgets/group.md
  content/fr/synthetics/guide/http-tests-with-hmac.md
Labels: Guide

Clarify CI Job Descriptions (#38132)
  content/en/data_observability/cicd.md
Labels: none

add *.agent (#38167)
  content/en/observability_pipelines/configuration/install_the_worker/_index.mdoc.md
Labels: none

Update Databricks integration setup docs (DOIO-94) (#38129)
  content/en/cloud_cost_management/setup/saas_costs.md
  content/en/data_observability/jobs_monitoring/databricks/_index.md
  content/en/data_observability/quality_monitoring/data_warehouses/databricks.md
  static/images/data_jobs/databricks/configure-databricks-cluster-init-script.png
Labels: none

[SDCT-709] Document CI Visibility billing enrichment (#38140)
  content/en/account_management/billing/ci_visibility.md
Labels: none

[DO] Document GCP Secret Manager for Databricks PAR credentials (#38011)
  content/en/data_observability/jobs_monitoring/databricks/private_link.md
Labels: none

[SEC-31445] severity modifiers doc (#37170)
  config/_default/menus/main.en.yaml
  content/en/security/automation_pipelines/_index.md
  content/en/security/automation_pipelines/modify_severity.md
  static/images/security/automation_pipelines/severity_breakdown.png
  static/images/security/automation_pipelines/severity_pill_popover.png
Labels: Architecture
