Repository DevKyleS/datadog-documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide

Standardize Runtime Package Prioritization name and add deployment-specific links (#38251)
  content/en/security/cloud_security_management/setup/agent/kubernetes.md
  content/en/security/cloud_security_management/setup/agent/linux.md
  content/en/security/cloud_security_management/triage_and_prioritize/runtime_prioritization_engine.md
Labels: none

(AAA) clarify limit of API keys (#38261)
  content/en/account_management/api-app-keys.md
Labels: none

update docs to include hierarchy query, update button name for lineage query (#38247)
  content/en/monitors/types/data_observability.md
Labels: none

EX-3084 Add multiple testing correction docs (#38062)
  config/_default/menus/main.en.yaml
  content/en/experiments/plan_and_launch_experiments.md
  content/en/experiments/reading_results.md
  content/en/experiments/statistics/_index.md
  content/en/experiments/statistics/analysis_methods.md
  content/en/experiments/statistics/multiple_testing_correction.md
Labels: Architecture

gpu: document bug in 7.79 version (#38141)
  content/en/gpu_monitoring/setup.md
Labels: none

Document wildcard host pattern support for iOS and Android first-party hosts and WebView tracking (#37844)
  content/en/real_user_monitoring/application_monitoring/web_view_tracking/_index.md
  content/en/tracing/trace_collection/dd_libraries/android.md
  content/en/tracing/trace_collection/dd_libraries/ios.md
  layouts/shortcodes/mdoc/en/sdk/advanced_config/android.mdoc.md
  layouts/shortcodes/mdoc/en/sdk/advanced_config/ios.mdoc.md
Labels: Architecture

fix(WEB-9713): prevent IME Enter from submitting Docs AI prompts (#38344)
  assets/scripts/components/conversational-search/index.js
  e2e/components/conversational-search/cdocs-conversational-search.spec.ts
Labels: none

[Feature Flags] Use cases: kill switches, dynamic config, progressive rollouts (#36920)
  config/_default/menus/main.en.yaml
  content/en/feature_flags/_index.md
  content/en/feature_flags/use_cases/_index.md
  content/en/feature_flags/use_cases/dynamic_configuration.md
  content/en/feature_flags/use_cases/kill_switches.md
  content/en/feature_flags/use_cases/progressive_rollouts.md
  static/images/feature_flags/canary-rollout-config.png
  static/images/feature_flags/create-progressive-rollout.png
  static/images/feature_flags/dynamic_config_json_variants.png
  static/images/feature_flags/kill_switch_make_default.png
  static/images/feature_flags/start-progressive-rollout.png
Labels: Images, Architecture

Document RUM flush wait configuration (#38346)
  content/en/tests/browser_tests.md
  content/en/tests/troubleshooting/_index.md
Labels: none

Show ServiceNow case management as available in US1-FED (#38348)
  content/en/integrations/guide/servicenow-itom-itsm-setup.md
Labels: Guide

Add BYOC Logs 0.1.32 release notes (#38351)
  content/en/byoc-logs/release_notes.md
Labels: none

Add Learning Center course cross-reference: Getting Started with Product Analytics (#38352)
  content/en/product_analytics/_index.md
  content/en/product_analytics/charts/funnel_analysis.md
  content/en/product_analytics/dashboards.md
  content/en/product_analytics/data_collected/_index.md
  content/en/product_analytics/segmentation/_index.md
Labels: none

[DOCS-14688] Add site-support banner to 1 page (#38080)
  config/_default/params.yaml
Labels: Architecture

[DOCS-15030] Pipeline Simulation (#38291)
  content/en/logs/log_configuration/pipelines.md
  static/images/logs/processing/pipelines/pipeline_simulation.png
Labels: Images

update: auto_explain configuration syntax in postgres setup documentation (#38072)
  content/en/database_monitoring/setup_postgres/selfhosted.md
Labels: none

clarify bigquery prereqs for ccm (#38330)
  content/en/cloud_cost_management/allocation/bigquery.md
Labels: none

Add OTel Histogram support documentation (#37526)
  content/en/metrics/open_telemetry/otlp_metric_types.md
  content/en/metrics/types.md
  content/en/opentelemetry/guide/_index.md
  content/en/opentelemetry/guide/otlp_histogram_heatmaps.md
Labels: Guide

DOCS-14165: SDS Logs Findings explorer (#37797)
  content/en/security/sensitive_data_scanner/_index.md
  content/en/security/sensitive_data_scanner/guide/investigate_sensitive_data_findings.md
  static/images/sensitive_data_scanner/sds_findings_explorer.png
  static/images/sensitive_data_scanner/sds_logs_findings_explorer.png
Labels: Images

Add GAR Agentless scanning Preview links (#38338)
  content/en/security/cloud_security_management/setup/agentless_scanning/compatibility.md
  content/en/security/cloud_security_management/vulnerabilities/_index.md
Labels: none

Document feedback search in Trace Explorer (#38371)
  content/en/llm_observability/evaluations/end_user_feedback.md
  content/en/llm_observability/monitoring/querying.md
Labels: none

Update datastore limits in docs (#38365)
  content/en/actions/datastores/create.md
Labels: none

Consolidate Browser and Mobile Session Replay docs (#38089)
  config/_default/menus/main.en.yaml
  content/.gitignore
  content/en/data_security/_index.md
  content/en/data_security/real_user_monitoring.md
  content/en/error_tracking/frontend/browser.md
  content/en/error_tracking/frontend/replay_errors.md
  content/en/getting_started/session_replay/_index.md
  content/en/real_user_monitoring/_index.md
  content/en/real_user_monitoring/application_monitoring/web_view_tracking/_index.md
  content/en/real_user_monitoring/guide/browser-sdk-upgrade.md
  content/en/real_user_monitoring/guide/mobile-sdk-upgrade.md
  content/en/real_user_monitoring/guide/session-replay-for-solutions.md
  content/en/session_replay/_index.md
  content/en/session_replay/app_performance.md
  content/en/session_replay/browser/_index.md
  content/en/session_replay/browser/privacy_options.md
  content/en/session_replay/browser/setup_and_configuration.md
  content/en/session_replay/browser/troubleshooting.md
  content/en/session_replay/dev_tools.md
  content/en/session_replay/heatmaps.md
  content/en/session_replay/mobile/_index.md
  content/en/session_replay/mobile/dev_tools.md
  content/en/session_replay/mobile/privacy_options.mdoc.md
  content/en/session_replay/mobile/setup_and_configuration.mdoc.md
  content/en/session_replay/mobile/troubleshooting.md
  content/en/session_replay/privacy_options.mdoc.md
  content/en/session_replay/setup_and_configuration.mdoc.md
  content/en/session_replay/troubleshooting.mdoc.md
  content/en/synthetics/guide/explore-rum-through-synthetics.md
  customization_config/en/option_groups/real_user_monitoring.yaml
  layouts/shortcodes/mdoc/en/real_user_monitoring/session_replay/privacy_options.mdoc.md
  layouts/shortcodes/mdoc/en/real_user_monitoring/session_replay/setup_and_configuration.mdoc.md
  layouts/shortcodes/mdoc/en/real_user_monitoring/session_replay/troubleshooting.mdoc.md
Labels: Architecture, Guide

[EX-3085] Document experiment diagnostics (#38061)
  config/_default/menus/main.en.yaml
  content/en/experiments/_index.md
  content/en/experiments/diagnostics.md
  content/en/experiments/reading_results.md
  content/en/experiments/troubleshooting.md
Labels: Architecture

Remove the "sign up for preview" banner (#38377)
  content/en/internal_developer_portal/catalog/entity_model/ai-generated-systems.md
Labels: none

Document Datadog AI agent coverage in Audit Trail (#38221)
  content/en/account_management/audit_trail/events.md
  content/en/account_management/audit_trail/guides/track_agentic_usage_in_your_organization.md
  content/en/bits_ai/bits_chat.md
Labels: none

Create Slack Commands guide for Datadog integration (#38248)
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/slack-actions.md
Labels: Guide

[CCR-3503] Add SageMaker and LLM prompt caching cost recommendations (#38368)
  content/en/cloud_cost_management/recommendations/_index.md
Labels: none

Update age out duration for Datadog Agents (#38380)
  content/en/dashboards/faq/historical-data.md
Labels: FAQ

Move sections (#38372)
  content/en/observability_pipelines/destinations/amazon_opensearch.md
  content/en/observability_pipelines/destinations/amazon_s3.md
  content/en/observability_pipelines/destinations/azure_storage.md
  content/en/observability_pipelines/destinations/databricks.md
  content/en/observability_pipelines/destinations/datadog_byoc_logs.md
  content/en/observability_pipelines/destinations/datadog_logs.md
  content/en/observability_pipelines/destinations/google_cloud_storage.md
  content/en/observability_pipelines/destinations/google_secops.md
  content/en/observability_pipelines/destinations/http_client.md
  content/en/observability_pipelines/destinations/opensearch.md
  content/en/observability_pipelines/destinations/sentinelone.md
  content/en/observability_pipelines/destinations/splunk_hec/logs.md
  content/en/observability_pipelines/destinations/sumo_logic_hosted_collector.md
  content/en/observability_pipelines/processors/enrichment_table.md
Labels: none

Add feedback query screenshot to Agent Observability docs (#38375)
  content/en/llm_observability/evaluations/end_user_feedback.md
  content/en/llm_observability/monitoring/querying.md
  static/images/llm_observability/evaluations/feedback_widget_query.png
Labels: Images

Revise alert message for raw query statements (#38139)
  content/en/database_monitoring/guide/sql_extended_events.md
Labels: Guide

Feature Flags screenshot refresh [DOCS-15099] (#38310)
  config/_default/menus/main.en.yaml
  content/en/feature_flags/concepts/approvals.md
  content/en/feature_flags/concepts/environments.md
  content/en/feature_flags/concepts/flag_graphs.md
  content/en/feature_flags/concepts/flag_history.md
  content/en/feature_flags/concepts/permissions.md
  content/en/feature_flags/concepts/saved_filters.md
  content/en/feature_flags/concepts/stale_flags.md
  content/en/feature_flags/concepts/targeting_rules.md
  content/en/feature_flags/concepts/traffic_splitting.md
  content/en/getting_started/feature_flags/_index.md
  static/images/feature_flags/concepts/configure-flag-approvals-on-creation-2.png
  static/images/feature_flags/concepts/configure-targeting-rule-2.png
  static/images/feature_flags/concepts/environments-list-2.png
  static/images/feature_flags/concepts/ff-targeting-rules-and-rollouts-2.png
  static/images/feature_flags/concepts/flag-grace-modal-2.png
  static/images/feature_flags/concepts/multi-variant-traffic-split-2.png
  static/images/feature_flags/concepts/single-variant-traffic-exposure-2.png
  static/images/feature_flags/flag_graphs/flag_list-2.png
  static/images/feature_flags/flag_graphs/targeting_rule_distribution-2.png
  static/images/feature_flags/flag_history-2.png
  static/images/feature_flags/flag_history_global-2.png
  static/images/feature_flags/generate_removal_pr-2.png
  static/images/feature_flags/mark_as_permanent-2.png
  static/images/feature_flags/saved_filters/add-saved-filter-to-rule-2.png
  static/images/feature_flags/stale_flag_banner-2.png
  static/images/feature_flags/stale_flag_chip.png
  static/images/getting_started/feature_flags/create-feature-flags-2.png
  static/images/getting_started/feature_flags/publish-targeting-rules.png
  static/images/getting_started/feature_flags/real-time-flag-metrics-2.png
Labels: Images, Architecture

Add bridge page for CI/CD Optimization opt-in period [DOCS-15092] (#38177)
  config/_default/menus/main.en.yaml
  content/en/continuous_integration/_index.md
  content/en/continuous_integration/cicd_optimization.md
  content/en/tests/_index.md
  static/images/cicd_optimization/cicd_health.png
  static/images/cicd_optimization/explorer.png
  static/images/cicd_optimization/flaky_management.png
  static/images/cicd_optimization/flaky_overview.png
  static/images/cicd_optimization/setup_flow.png
Labels: Images, Architecture

Add Logs Correlation section to OpenLineage docs (#38360)
  content/en/data_observability/jobs_monitoring/openlineage/_index.md
Labels: none

Add Windows 11 to Private Location worker supported OS list (#38396)
  content/en/synthetics/platform/private_locations/_index.md
Labels: none

Document automatic deletion of inactive private action runners (#38361)
  content/en/actions/private_actions/use_private_actions.md
Labels: none

Add Splunk HEC destination troubleshooting (#38391)
  content/en/observability_pipelines/destinations/splunk_hec/logs.md
  content/en/observability_pipelines/destinations/splunk_hec/metrics.md
  layouts/shortcodes/observability_pipelines/splunk_hec_unauthorized_error.en.md
Labels: Architecture

add known issue with manual runs (#38388)
  content/en/data_observability/jobs_monitoring/airflow.md
Labels: none

Add docs for base image attribution support (#38227)
  content/en/security/cloud_security_management/vulnerabilities/_index.md
Labels: none

Document sourceCodeLocation facet requirement for dbt Core CI/CD (#38327)
  content/en/data_observability/cicd.md
  content/en/data_observability/jobs_monitoring/dbt.md
Labels: none

.github/labeler.yml:

Github:
- .github/**/*

Images:
- assets/images/**/*
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/css/**/*
- assets/js/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*
