Repository DevKyleS/datadog-documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide

[MSTA-681] Unify monitor group retention docs and add DGR preview panel (#37884)
  content/en/monitors/configuration/_index.md
  content/en/monitors/guide/troubleshooting-monitor-alerts.md
  content/en/monitors/guide/troubleshooting-no-data.md
  content/en/monitors/guide/why-did-my-monitor-settings-change-not-take-effect.md
  content/en/monitors/status/graphs.md
  content/en/monitors/status/status_legacy.md
Labels: Guide

Update Android and iOS profiling documentation to include continuous profiling for TTFD, long tasks, ANRS, and App Hangs (#37940)
  content/en/real_user_monitoring/correlate_with_other_telemetry/profiling/_index.mdoc.md
  static/images/real_user_monitoring/android/android-profiling-anr.png
  static/images/real_user_monitoring/android/android-profiling-long-task.png
  static/images/real_user_monitoring/android/android-profiling-operation.png
  static/images/real_user_monitoring/android/android-profiling-ttfd.png
  static/images/real_user_monitoring/ios/ios-profiling-app-hang.png
  static/images/real_user_monitoring/ios/ios-profiling-long-task.png
  static/images/real_user_monitoring/ios/ios-profiling-operation.png
  static/images/real_user_monitoring/ios/ios-profiling-ttfd.png
Labels: none

Add OPW 2.19 changelog to docs (#38154)
  content/en/observability_pipelines/guide/upgrade_worker.md
Labels: Guide

Shawn.kumar/docs telemetry rules (#38143)
  content/en/account_management/governance_console/telemetry_rules.md
Labels: none

AWS Durable Function Documentation update (#37612)
  content/en/serverless/aws_lambda/instrumentation/nodejs.md
  content/en/serverless/aws_lambda/instrumentation/python.md
  layouts/shortcodes/svl-lambda-durable-function.md
Labels: Architecture

[SECRES-5300] Add documentation for SCFW GitHub Action (#38033)
  config/_default/menus/main.en.yaml
  content/en/security/code_security/_index.md
  content/en/security/code_security/dev_tool_int/scfw_github_action/_index.md
Labels: Architecture

[SVLS-9349] Add agentic onboarding section to serverless instrumentation docs (#38145)
  content/en/serverless/aws_lambda/instrumentation/_index.md
  content/en/serverless/google_cloud_run/containers/_index.md
  content/en/serverless/google_cloud_run/functions/_index.md
Labels: none

Remove unnecessary files (#38192)
  .translate/templates/integrations.yaml
  .translate/templates/service_checks.json
  gradle/wrapper/gradle-wrapper.jar
  usage-notifications-email.png
Labels: none

add region param (#38187)
  content/en/observability_pipelines/configuration/install_the_worker/_index.mdoc.md
Labels: none

Update upgrade_agents.md (#38198)
  content/en/agent/fleet_automation/upgrade_agents.md
Labels: none

Fix tab spacing (#38199)
  content/en/security/code_security/dev_tool_int/scfw_github_action/_index.md
Labels: none

Document Okta SCIM role attribute mapping (#38197)
  content/en/account_management/scim/okta.md
Labels: none

[DOCS-15097] Subqueries & Reference Table joins in log monitors (#38155)
  content/en/logs/explorer/advanced_search.md
  content/en/monitors/types/log.md
Labels: none

Add US1-FED support warning for Case Management AI features (#38182)
  content/en/incident_response/case_management/ai/_index.md
  content/en/incident_response/case_management/ai/custom_agents.md
Labels: none

Add Bits Security Analyst to Cloud SIEM TOC (#38148)
  content/en/security/cloud_siem/triage_and_investigate/investigate_security_signals.md
Labels: none

Add OpenLineage Spark lineage collection to EMR setup docs (#38183)
  content/en/data_observability/jobs_monitoring/emr.md
Labels: none

Fix sticky filter CSS to account for the missing top docs banner (#38194)
  assets/styles/components/_multifilter-search.scss
Labels: none

Jkim/update watchdog insights list formatting (#38206)
  content/en/watchdog/insights.md
Labels: none

Add SQL template variables to warehouse metric and exposure docs (#37995)
  config/_default/menus/main.en.yaml
  content/en/experiments/concepts/_index.md
  content/en/experiments/concepts/exposure_sql.md
  content/en/experiments/concepts/sql_template_variables.md
  content/en/experiments/defining_metrics.md
Labels: Architecture

[DOCS-14637] Add Upgrade Worker info for Docker and CloudFormation (#37706)
  content/en/observability_pipelines/configuration/install_the_worker/_index.mdoc.md
Labels: none

[DOCS-12502] Add billing plans section to Pricing doc (#38204)
  content/en/account_management/billing/pricing.md
Labels: none

Remove references to RDS scanning across Cloud Security docs (#38203)
  content/en/security/cloud_security_management/guide/public-accessibility-logic.md
  content/en/security/cloud_security_management/setup/agentless_scanning/compatibility.md
  content/en/security/cloud_security_management/setup/agentless_scanning/deployment_methods.md
  content/en/security/sensitive_data_scanner/setup/_index.md
Labels: none

Clarify Lambda Extension env var naming for HTTP obfuscation settings (#38184)
  content/en/tracing/configure_data_security/_index.md
Labels: none

Add troubleshooting section on running job limitations (#38186)
  content/en/continuous_integration/troubleshooting.md
Labels: none

docs(apm): switch python library config page to registry-backed format (#37641)
  content/en/tracing/trace_collection/library_config/cpp.md
  content/en/tracing/trace_collection/library_config/dotnet-core.md
  content/en/tracing/trace_collection/library_config/dotnet-framework.md
  content/en/tracing/trace_collection/library_config/go.md
  content/en/tracing/trace_collection/library_config/java.md
  content/en/tracing/trace_collection/library_config/nodejs.md
  content/en/tracing/trace_collection/library_config/php.md
  content/en/tracing/trace_collection/library_config/python.md
  content/en/tracing/trace_collection/library_config/ruby.md
  content/en/tracing/trace_collection/library_config/rust.md
Labels: none

[SEC-34478] Document security findings automation rule MCP tools (#38188)
  content/en/mcp_server/tools.md
  content/en/security/mcp_server.md
Labels: none

Reference AWS Secrets Manager rotation support for API keys, application keys, and SATs (#38116)
  content/en/account_management/api-app-keys.md
  content/en/account_management/service-access-tokens.md
Labels: none

Add Usability Issue Detection docs page (#38106)
  config/_default/menus/main.en.yaml
  content/en/product_analytics/usability.md
  static/images/product_analytics/usability/choose-funnel.png
  static/images/product_analytics/usability/detect-usability-issues.png
  static/images/product_analytics/usability/issue-details.png
  static/images/product_analytics/usability/issues-list.png
Labels: Architecture

[DOCS-14176, DEX-691] Document Host Map widget DDSQL mode (#38013)
  content/en/dashboards/widgets/hostmap.md
  static/images/dashboards/widgets/hostmap/hostmap_ddsql.png
  static/images/dashboards/widgets/hostmap/hostmap_ddsql_setup.png
  static/images/dashboards/widgets/hostmap/hostmap_setup-3.png
Labels: none

Add Azure App Service to supported services list (#38207)
  content/en/tracing/guide/serverless_enable_azure_app_insights.md
Labels: Guide

[AWSINTS] Add Elastic Beanstalk log autosubscription support (#38216)
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: Guide

Remove unsupported historical metrics alert (#38202)
  content/en/metrics/custom_metrics/historical_metrics.md
Labels: none

EX-3105: Added documentation for Experiments Metric Sync CLI + Reorganized Experiments Page (#38127)
  config/_default/menus/main.en.yaml
  content/en/experiments/defining_metrics/_index.md
  content/en/experiments/defining_metrics/metric_sync.md
Labels: Architecture

Add default timeframe option to dashboard settings (#38209)
  content/en/dashboards/configure/_index.md
Labels: none

Document per-node metric collection in single_endpoint_mode for ClickHouse Cloud (#38103)
  content/en/database_monitoring/setup_clickhouse/cloud.md
  content/en/database_monitoring/setup_clickhouse/selfhosted.md
Labels: none

Remove incorrect statement about cross-region visibility (#38136)
  content/en/account_management/organization_topology.md
Labels: none

Get notifications for complete Bits security investigations (#38210)
  content/en/bits_ai/bits_security_analyst.md
  content/en/security/notifications/rules.md
Labels: none

Remove datadog-static-analyzer-rule-docs configuration from pull_config_preview.yaml and pull_config.yaml (#38205)
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

[DOCS-14142] Update metric deprecation guide's temporal language (#38211)
  content/en/integrations/guide/aws-application-load-balancer-metric-namespace-change.md
Labels: Guide

Fix punctuation in queue creation instructions (#38226)
  content/en/llm_observability/evaluations/annotation_queues.md
Labels: none

.github/labeler.yml:

Github:
- .github/**/*

Images:
- assets/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- src/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*
