Repository DevKyleS/datadog-documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide

Add data-observability toolset to MCP Server docs (#37651)
  content/en/mcp_server/setup.md
  content/en/mcp_server/tools.md
Labels: none

Updated list of GA DAC products (#38228)
  content/en/account_management/rbac/data_access.md
Labels: none

Use a cascade for App Builder site-support instead of per-page IDs (#38092)
  config/_default/params.yaml
  content/en/actions/app_builder/_index.md
  content/en/actions/app_builder/access_and_auth.md
  content/en/actions/app_builder/build.md
  content/en/actions/app_builder/components/_index.md
  content/en/actions/app_builder/components/custom_charts.md
  content/en/actions/app_builder/components/react_renderer.md
  content/en/actions/app_builder/components/reusable_modules.md
  content/en/actions/app_builder/components/tables.md
  content/en/actions/app_builder/embedded_apps/_index.md
  content/en/actions/app_builder/embedded_apps/input_parameters.md
  content/en/actions/app_builder/events.md
  content/en/actions/app_builder/expressions.md
  content/en/actions/app_builder/queries.md
  content/en/actions/app_builder/saved_actions.md
  content/en/actions/app_builder/variables.md
  content/en/api/_index.md
Labels: Architecture

Update Agentless Scanning compatibility: GAR Preview, RDS beta, EKS Fargate (#38137)
  content/en/security/cloud_security_management/setup/agentless_scanning/compatibility.md
Labels: none

Add knowledge sources to Bits Security Analyst (#38212)
  content/en/bits_ai/bits_security_analyst.md
Labels: none

Link to OpenTelemetry feature compatibility in LLM Obs OTel setup (#38244)
  content/en/llm_observability/instrumentation/otel_instrumentation.md
Labels: none

Removing Preview Banner on browser profiling (#38249)
  content/en/real_user_monitoring/correlate_with_other_telemetry/profiling/_index.mdoc.md
Labels: none

Document per-user personal landing page (#38243)
  content/en/account_management/org_settings/custom_landing.md
Labels: none

feat(llmobs): added eval tracing explanation (#38218)
  content/en/llm_observability/evaluations/custom_llm_as_a_judge_evaluations/_index.md
  static/images/llm_observability/evaluations/EvalConfig_LLMO_1.png
  static/images/llm_observability/evaluations/custom_llm_judge_2-5.png
  static/images/llm_observability/evaluations/evaluation_scope_1.png
  static/images/llm_observability/evaluations/evaluation_tracing_enabled.png
Labels: none

Document aggregated minor pod usage (#38223)
  content/en/cloud_cost_management/allocation/container_cost_allocation.mdoc.md
Labels: none

CAP-3702 update prerequisites for OpenTelemetry (#38219)
  content/en/containers/monitoring/kubernetes_explorer.md
Labels: none

Document the BYOC Logs release process (#38263)
  config/_default/menus/main.en.yaml
  content/en/byoc-logs/operate/_index.md
  content/en/byoc-logs/operate/updates.md
  content/en/byoc-logs/release_notes.md
Labels: Architecture

Update custom.md - reword prereq's for custom costs (#38190)
  content/en/cloud_cost_management/setup/custom.md
Labels: none

Fix spelling typos in Code Security docs (#38229)
  content/en/security/code_security/iast/setup/nodejs.md
  content/en/security/code_security/software_composition_analysis/setup_runtime/compatibility/dotnet.md
  content/en/security/code_security/static_analysis/ai_enhanced_sast.md
  content/en/security/code_security/static_analysis/setup/_index.md
Labels: none

add to nav (#38272)
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/packs/infoblox.md
Labels: Architecture

Clarify Custom Costs prerequisite (#38271)
  content/en/cloud_cost_management/setup/custom.md
Labels: none

Add Azure OpenAI support to Patterns docs (#38262)
  content/en/llm_observability/monitoring/patterns.md
Labels: none

Fix false-positive during Typesense indexing (#38279)
  layouts/partials/algolia/api-page-index.json
  layouts/partials/algolia/api-pages-full-index.json
  layouts/partials/algolia/page-sections.json
Labels: Architecture

Bits Code: custom agent skills, GitLab scope warning (and more!) (#38273)
  content/en/bits_ai/bits_code/_index.md
  content/en/bits_ai/bits_code/setup.md
Labels: none

(Workflows) Add API call definition (#38252)
  content/en/actions/workflows/trigger.md
Labels: none

(DOCS-14511) Add site support banner to Azure DevOps Source Code int (#38278)
  config/_default/params.yaml
Labels: Architecture

[DOCS-14178] Finish BYOC Logs rename cleanup (#38277)
  content/en/byoc-logs/guides/query_logs_with_mcp.md
  content/en/byoc-logs/ingest/_index.md
  content/en/byoc-logs/install/docker.md
  content/en/byoc-logs/introduction/network.md
  content/en/byoc-logs/operate/monitoring.md
  content/en/observability_pipelines/destinations/datadog_byoc_logs.md
Labels: none

(Monitors) update Analysis Monitor page before GA (#38178)
  content/en/monitors/types/analysis.md
  static/images/monitors/monitor_types/analysis/analysis_monitor_config.png
Labels: none

Alphabetize metrics (#38287)
  content/en/observability_pipelines/monitoring_and_troubleshooting/pipeline_usage_metrics.md
Labels: none

[DOCS-15077] Enable RDS backups for BYOC AWS install (#38292)
  content/en/byoc-logs/install/aws_eks.md
  content/en/byoc-logs/operate/best_practices.md
Labels: none

(DOCS-13726) Replaced link to wrong destination (#38293)
  content/en/database_monitoring/setup_mysql/aurora.md
Labels: none

Add data-observability toolset to MCP Server docs (#37963)
  content/en/mcp_server/setup.md
  content/en/mcp_server/tools.md
Labels: none

Widgets: better oneOf schema support (#38288)
  assets/scripts/build-api-pages.js
  assets/scripts/tests/build-api-pages.test.js
Labels: none

[DOCS-14930] Restructure monitor API options guide and fix evaluation_delay scope (#38020)
  content/en/monitors/guide/monitor_api_options.md
Labels: Guide

Change the code security config to version 1.4 (#37968)
  content/en/security/code_security/guides/configuration.md
  content/en/security/code_security/iac_security/configuration.md
Labels: none

Clarify JavaScript unskippable test setup (#38296)
  content/en/tests/test_impact_analysis/setup/javascript.md
Labels: none

Remove outdated further reading link from MCP Server setup doc (#38303)
  content/en/mcp_server/setup.md
Labels: none

Add new Learning Center course link (#38299)
  content/en/tracing/trace_collection/dd_libraries/cpp.md
  content/en/tracing/trace_collection/dd_libraries/dotnet-core.md
  content/en/tracing/trace_collection/dd_libraries/go.md
  content/en/tracing/trace_collection/dd_libraries/java.md
  content/en/tracing/trace_collection/dd_libraries/nodejs.md
  content/en/tracing/trace_collection/dd_libraries/php.md
  content/en/tracing/trace_collection/dd_libraries/python.md
  content/en/tracing/trace_collection/dd_libraries/rust.md
Labels: none

[DOCS-15021][DOCS-15111] Add gov/gov2 banners for RUM C++ and BYOTI pages (#38283)
  content/en/real_user_monitoring/application_monitoring/cpp/_index.md
  content/en/real_user_monitoring/application_monitoring/cpp/advanced_configuration.mdoc.md
  content/en/real_user_monitoring/application_monitoring/cpp/data_collected.mdoc.md
  content/en/real_user_monitoring/application_monitoring/cpp/error_tracking.md
  content/en/real_user_monitoring/application_monitoring/cpp/setup.mdoc.md
  content/en/real_user_monitoring/application_monitoring/cpp/troubleshooting.mdoc.md
  content/en/security/application_security/how-it-works/threat-intelligence.md
  content/en/security/guide/byoti_guide.md
  content/en/security/threat_intelligence.md
Labels: Guide

Add gov/gov2 unsupported banner to Processing Pipelines section (#38282)
  content/en/tracing/trace_pipeline/_index.md
Labels: none

Add gov/gov2 site-support banner to Amazon Security Lake integration (#38281)
  config/_default/params.yaml
Labels: Architecture

[CCR-3575] Add risk and level of effort to CCM documentation (#38308)
  content/en/cloud_cost_management/recommendations/_index.md
Labels: none

Add CUPED variance reduction documentation page (#37941)
  config/_default/menus/main.en.yaml
  content/en/experiments/plan_and_launch_experiments.md
  content/en/experiments/statistics/_index.md
  content/en/experiments/statistics/analysis_methods.md
  content/en/experiments/statistics/cuped.md
Labels: Architecture

Move section and small edits (#38309)
  content/en/observability_pipelines/configuration/pipeline_simulation.md
Labels: none

Remove enable_receive_resource_spans_v2 feature flag reference (#38306)
  content/en/opentelemetry/mapping/semantic_mapping.md
Labels: none

.github/labeler.yml:

Github:
- .github/**/*

Images:
- assets/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- src/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*
