Repository DevKyleS/datadog-documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide

.github/labeler.yml:

Github:
- .github/**/*

Images:
- assets/images/**/*
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/css/**/*
- assets/js/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

[APPSEC-68768] Add AAP Compliance documentation (#37851)
  config/_default/menus/main.en.yaml
  content/en/security/application_security/api_posture/_index.md
  content/en/security/application_security/api_posture/compliance.md
  content/en/security/cloud_security_management/misconfigurations/frameworks_and_benchmarks/_index.md
  static/images/security/application_security/api_posture/aap_compliance_framework_detail.png
Labels: Images, Architecture

Remove rage tap references from mobile RUM frustration signals docs (#37978)
  content/en/real_user_monitoring/application_monitoring/android/frustration_signals.mdoc.md
  content/en/real_user_monitoring/application_monitoring/flutter/frustration_signals.mdoc.md
  content/en/real_user_monitoring/application_monitoring/ios/frustration_signals.mdoc.md
  content/en/real_user_monitoring/application_monitoring/kotlin_multiplatform/frustration_signals.mdoc.md
  content/en/real_user_monitoring/application_monitoring/maui/frustration_signals.mdoc.md
  content/en/real_user_monitoring/application_monitoring/react_native/frustration_signals.mdoc.md
  layouts/shortcodes/mdoc/en/real_user_monitoring/frustration_signals/mobile.mdoc.md
Labels: Architecture

Add JavaScript/Jest support to Test Parallelization docs (#37980)
  content/en/tests/test_parallelization/_index.md
  content/en/tests/test_parallelization/best_practices.md
  content/en/tests/test_parallelization/configuration.md
  content/en/tests/test_parallelization/setup.md
Labels: none

[DOCS-14966] Remove Salesforce Incidents integration docs (#37984)
  content/en/integrations/_index.md
  content/en/integrations/faq/list-of-api-source-attribute-value.md
  content/es/integrations/salesforce_incidents.md
  content/ja/integrations/salesforce_incidents.md
  content/ko/integrations/salesforce_incidents.md
Labels: FAQ

Add Case Management preview callout and further reading to Bits Agent Builder docs (#37702)
  content/en/actions/agents/_index.md
Labels: none

Add llms.txt directives (#37991)
  layouts/_default/baseof.html
  layouts/api/baseof.html
  layouts/partials/hreflang.html
  layouts/partials/page-agent-hint-block.html
  layouts/partners/baseof.html
Labels: Architecture

Update supported Mobile App Testing devices list (#38002)
  content/en/synthetics/mobile_app_testing/devices.md
Labels: none

[SEC-33003] Add Array Map Processor documentation (#37891)
  content/en/logs/log_configuration/processors/_index.md
  content/en/logs/log_configuration/processors/array_map_processor.md
  static/images/logs/log_configuration/processor/array-map-arithmetic.png
  static/images/logs/log_configuration/processor/array-map-attribute-remapper.png
  static/images/logs/log_configuration/processor/array-map-category.png
  static/images/logs/log_configuration/processor/array-map-processor.png
  static/images/logs/log_configuration/processor/array-map-string-builder.png
Labels: Images

Add missing link (#37987)
  config/_default/menus/main.en.yaml
Labels: Architecture

(Dashboards) update Scatterplot widget page (#37915)
  content/en/dashboards/widgets/scatter_plot.md
  static/images/dashboards/widgets/scatterplot/scatterplot-mode-configuration.png
  static/images/dashboards/widgets/scatterplot/scatterplot2.png
Labels: Images

[SDTEST-3880] Document Android test support in Java Test Optimization (#37890)
  content/en/tests/setup/java.md
Labels: none

Update Security Findings schema reference page (#37807)
  content/en/security/guide/findings-schema.md
  content/en/security/guide/findings-schema/generated/examples.md
  content/en/security/guide/findings-schema/generated/schema-reference.md
Labels: Guide

Document form sections and dashboard sharing option (#37906)
  content/en/actions/forms/_index.md
  content/en/actions/forms/components.md
Labels: none

Update navigation instructions for Microsoft Teams settings (#38006)
  content/en/incident_response/incident_management/setup_and_configuration/integrations/microsoft_teams/_index.md
Labels: none

docs(llm-obs): document _dd.ml_obs.metadata for OTel custom metadata (#37993)
  content/en/llm_observability/instrumentation/otel_instrumentation.md
Labels: none

Remove Preview CTA for Cloud Storage scanning (now GA) (#38007)
  content/en/security/sensitive_data_scanner/_index.md
  content/en/security/sensitive_data_scanner/setup/cloud_storage.md
Labels: none

updated docs (#37985)
  content/en/cloud_cost_management/recommendations/_index.md
Labels: none

Document IP allowlist support for the MCP Server (#38009)
  content/en/account_management/org_settings/ip_allowlist.md
  content/en/mcp_server/setup.md
Labels: none

Update user creation command for managed identity (#38012)
  content/en/database_monitoring/guide/managed_authentication.md
Labels: Guide

Document custom DDOT Collector config on ECS Fargate (#38019)
  content/en/opentelemetry/setup/ddot_collector/install/ecs_fargate.md
Labels: none

[DBMON-6809] Update ClickHouse DBM preview messaging and explain plan permissions (#37938)
  content/en/database_monitoring/setup_clickhouse/_index.md
  content/en/database_monitoring/setup_clickhouse/cloud.md
  content/en/database_monitoring/setup_clickhouse/selfhosted.md
Labels: none

Change 'Bits Assistant' to 'Bits Chat' in instructions (#38018)
  content/en/bits_ai/bits_chat.md
Labels: none

Update JavaScript test optimization docs (#37950)
  content/en/tests/setup/javascript.md
  content/en/tests/troubleshooting/_index.md
Labels: none

adds redesigned home page product tile section, gated behind a/b testing (#37411)
  assets/scripts/components/home-experiment/index.js
  assets/scripts/components/home-experiment/tracking.js
  assets/scripts/components/product-section-collapse.js
  assets/scripts/helpers/feature-flags.js
  assets/scripts/main-dd-js.js
  assets/styles/pages/_home.scss
  data/products.yaml
  layouts/index.html
  layouts/partials/home/legacy.html
  layouts/partials/home/product-section.html
  layouts/partials/home/product-subheader.html
  layouts/partials/home/products-browse.html
Labels: Architecture

Add guide: Track GitHub Reusable Workflows with Custom Tags (#35615)
  content/en/continuous_integration/guides/_index.md
  content/en/continuous_integration/guides/track_reusable_workflows.md
  static/images/ci/guides/track_reusable_workflows/reusable_workflow_tags.jpg
Labels: Images

[DOCS-15052] Fix broken topic detail image on Agent Observability landing page (#38016)
  content/en/llm_observability/_index.md
Labels: none

Remove dd-otlp-source header from OTLP traces intake docs for GA (#38015)
  content/en/opentelemetry/setup/otlp_ingest/traces.md
Labels: none

Mervebolat/frontend activity section (#37815)
  content/en/tracing/services/service_page.md
  static/images/tracing/services/service_page/front-end-activity.png
Labels: Images

Document Partition and Lookup Attributes as GA, add limits and glossary entries (#38027)
  content/en/glossary/terms/lookup_attribute.md
  content/en/glossary/terms/partition_attribute.md
  content/en/logs/explorer/archive_search.md
  content/en/logs/log_configuration/archives.md
Labels: none

(Dashboards) update Geomap widget with Metrics support (#37994)
  content/en/dashboards/widgets/geomap.md
Labels: none

Fix App Builder gov site-support banners and add Preview messaging (#38021)
  config/_default/params.yaml
  content/en/actions/app_builder/_index.md
  content/en/actions/app_builder/access_and_auth.md
  content/en/actions/app_builder/build.md
  content/en/actions/app_builder/components/_index.md
  content/en/actions/app_builder/components/custom_charts.md
  content/en/actions/app_builder/components/react_renderer.md
  content/en/actions/app_builder/components/reusable_modules.md
  content/en/actions/app_builder/components/tables.md
  content/en/actions/app_builder/embedded_apps/_index.md
  content/en/actions/app_builder/embedded_apps/input_parameters.md
  content/en/actions/app_builder/events.md
  content/en/actions/app_builder/expressions.md
  content/en/actions/app_builder/queries.md
  content/en/actions/app_builder/saved_actions.md
  content/en/actions/app_builder/variables.md
  content/en/agent/fleet_automation/_index.md
  content/en/agent/fleet_automation/configure_agents.md
  content/en/agent/fleet_automation/configure_integrations.md
  content/en/agent/fleet_automation/upgrade_agents.md
  content/en/agent/fleet_automation/upgrade_sdks.md
Labels: Architecture

Document NO_PROXY configuration and matching rules (#37802)
  content/en/agent/configuration/proxy.md
Labels: none

Bump geo-locate (#38044)
  README.md
  package.json
  yarn.lock
Labels: none

Merge Splunk metrics docs
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/destinations/_index.md
  content/en/observability_pipelines/destinations/splunk_hec/_index.md
  content/en/observability_pipelines/destinations/splunk_hec/logs.md
  content/en/observability_pipelines/destinations/splunk_hec/metrics.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/destination_env_vars/splunk_hec.en.md
  layouts/shortcodes/observability_pipelines/splunk_hec_secrets.en.md
Labels: Architecture

Merge new gen metrics docs (includes routing to any supported metrics destination)
  content/en/observability_pipelines/processors/generate_metrics.md
  static/images/observability_pipelines/processors/generate_metrics_destination.png
Labels: Images

Add Cypress failure screenshot docs (#38031)
  content/en/tests/setup/javascript.md
  static/images/continuous_integration/tests/setup/cypress-failure-screenshot-media-tab.png
Labels: Images

Update page
  content/en/account_management/saml/okta.md
Labels: none

Harden master push/commit hooks against branch-name bypass (#38058)
  .husky/pre-commit
  .husky/pre-push
Labels: none

Add Workload Protection Agent Events to DAC supported telemetry (#38056)
  content/en/account_management/rbac/data_access.md
Labels: none

Revise custom landing page setup instructions (#38024)
  content/en/account_management/org_settings/custom_landing.md
Labels: none
