Repository DevKyleS/datadog-documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide

.github/labeler.yml:

Github:
- .github/**/*

Images:
- assets/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- src/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

Add tabs to MCP Server setup [DOCS-13509] (#34855)
  content/en/bits_ai/mcp_server/setup.md
Labels: none

Update CODEOWNERS to change reviewer teams (#34907)
  .github/CODEOWNERS
Labels: Github

fix: Ask doc CTA new design + expend logs (#34899)
  assets/scripts/components/conversational-search/index.js
  assets/scripts/helpers/feature-flags.js
  assets/styles/components/conversational-search/_home-ask-ai.scss
  layouts/api/baseof.html
Labels: Architecture

[DOCS-13516] Update section title (#34905)
  content/en/metrics/summary.md
Labels: none

Remove Code Coverage Preview banner from JUnit XML page (#34909)
  content/en/tests/setup/junit_xml.md
Labels: none

Add dora retention (#34896)
  content/en/data_security/data_retention_periods.md
Labels: none

Custom roles - Automatic Updates and Bulk Updates (#34886)
  content/en/account_management/rbac/permissions.md
Labels: none

DOCS-13322 Recommend secure configuration for FedRAMP (#34874)
  content/en/account_management/guide/_index.md
  content/en/account_management/guide/secure-configuration.md
Labels: Guide

Clean up language (#34890)
  content/en/data_observability/quality_monitoring/data_warehouses/bigquery.md
  content/en/data_observability/quality_monitoring/data_warehouses/databricks.md
  content/en/data_observability/quality_monitoring/data_warehouses/snowflake.md
Labels: none

Convert collapse-content to tabs in Sensitive Data Scanner processor (#34913)
  content/en/observability_pipelines/processors/sensitive_data_scanner.md
Labels: none

Add coverage of estimated costs for LLM Obs (#34789)
  content/en/llm_observability/monitoring/cost.md
  content/en/llm_observability/monitoring/metrics.md
Labels: none

Update set_up_pipelines.md (#34915)
  content/en/observability_pipelines/configuration/set_up_pipelines.md
Labels: none

Update quota processor synchronization limits (#37970)
  content/en/observability_pipelines/processors/quota.md
Labels: none

Remove "to help improve the algorithm" from anomaly resolution step (#37948)
  content/en/cloud_cost_management/cost_changes/anomalies.md
Labels: none

targets and enabled namespaces can't work together (#37952)
  content/en/data_observability/jobs_monitoring/kubernetes.md
Labels: none

Add CSI Driver metrics to Agent telemetry collection (#37973)
  content/en/data_security/agent.md
Labels: none

[SDTEST-3876] Documentation changes for Test Parallelization and TIA based on customers feedback (#37923)
  content/en/tests/test_impact_analysis/troubleshooting/_index.md
  content/en/tests/test_parallelization/best_practices.md
  content/en/tests/test_parallelization/configuration.md
  content/en/tests/test_parallelization/troubleshooting.md
Labels: none

Add PAT/SAT authentication to MCP Server setup docs (#37957)
  content/en/mcp_server/setup.md
Labels: none

Add Export Pipelines documentation for RUM and Product Analytics (#37498)
  config/_default/menus/main.en.yaml
  content/en/product_analytics/export_pipelines.md
  content/en/real_user_monitoring/rum_export.md
  static/images/real_user_monitoring/rum_export/rum-export-data-format.png
  static/images/real_user_monitoring/rum_export/rum-export-overview.png
Labels: Architecture

Update local configuration filename (#37975)
  content/en/ide_plugins/idea/code_security.md
  content/en/ide_plugins/vscode/code_security.md
Labels: none

📝 Crop API endpoint schema screenshot (#37946)
  content/en/security/application_security/api_posture/api_inventory/api_endpoints.md
  static/images/security/application_security/api/api_endpoint_definition_schema_cropped.png
Labels: none

[DOCS-XXXXX] Document DD_LAMBDA_CUSTOMER_METRICS_EXCLUDE_TAGS for Lambda (#37971)
  content/en/serverless/aws_lambda/configuration.md
  content/en/serverless/aws_lambda/metrics.md
Labels: none

remove preview and add 10 last version (#37967)
  content/en/data_security/guide/public_artifact_vulnerabilities.md
Labels: Guide

Update ticketing integration screenshots add ServiceNow images (#37934)
  content/en/security/ticketing_integrations.md
  static/images/security/bidir-jira-existing-1.png
  static/images/security/bidir-jira-existing-hover-1.png
  static/images/security/bidir-servicenow-existing-hover.png
  static/images/security/bidir-servicenow-existing.png
  static/images/security/jira_modal-1.png
  static/images/security/servicenow_modal.png
Labels: none

Add custom functions to OP Custom Processor doc [WEB-9510] (#37956)
  data/reference/functions.json
Labels: none

Add Copilot plugin to MCP setup instructions for VS Code (#37949)
  content/en/mcp_server/setup.md
Labels: none

Clarify integration value for custom jobs isn't restricted to 'custom' (#37935)
  content/en/data_observability/jobs_monitoring/openlineage/_index.md
Labels: none

Add AI Credits billing callout to Bits Agent Builder page (#37911)
  content/en/actions/agents/_index.md
Labels: none

Clarify that Note widget markdown links open in the same tab (#37908)
  content/en/dashboards/widgets/note.md
Labels: none

[DOCS-14934] Archive MinIO K8s page (#37917)
  config/_default/menus/main.en.yaml
  content/en/byoc-logs/install/_index.md
  content/en/byoc-logs/install/custom_k8s.md
Labels: Architecture

Merging
  content/en/observability_pipelines/processors/grok_parser.md
  static/images/observability_pipelines/processors/grok_parser_create_rule.png
  static/images/observability_pipelines/processors/grok_parser_rule_order.png
  static/images/observability_pipelines/processors/grok_parser_setup.png
Labels: none

Document how custom cloud configuration rule messages render in findings (#37983)
  content/en/security/cloud_security_management/misconfigurations/custom_rules.md
Labels: none

Revert "Add CSI Driver metrics to Agent telemetry collection (#37973)" (#37981)
  content/en/data_security/agent.md
Labels: none

docs(llm-obs): document GA project and dataset MCP tools (#37916)
  content/en/llm_observability/mcp_server.md
Labels: none

update landing page, reorganize experiments nav (#37764)
  config/_default/menus/main.en.yaml
  content/en/experiments/_index.md
  content/en/experiments/concepts/_index.md
  content/en/experiments/concepts/cumulative_impact.md
  content/en/experiments/concepts/exposure_sql.md
  content/en/experiments/concepts/subject_types.md
  content/en/experiments/plan_and_launch_experiments.md
  content/en/experiments/statistics/_index.md
  content/en/experiments/statistics/analysis_methods.md
  content/en/experiments/statistics/global_lift.md
  content/en/experiments/statistics/minimum_detectable_effect.md
  static/images/product_analytics/experiment/overview_metrics_view-1.png
Labels: Architecture

Remove references to future docs and duplicate preview link (#37986)
  content/en/security/code_security/_index.md
Labels: none

Show we now support TypeScript for AI SAST (#37992)
  content/en/security/code_security/static_analysis/ai_enhanced_sast.md
Labels: none

(Dashboards) Update List Widget supported datasets (#37746)
  content/en/dashboards/widgets/list.md
Labels: none

[TEEP-5473] Document multi_secret_backends for multiple native secret backends (#37920)
  content/en/agent/configuration/secrets-management.md
Labels: none

docs (#37928)
  content/en/tests/flaky_management/_index.md
Labels: none
