Repository DevKyleS/datadog-documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide

.github/labeler.yml:

Github:
- .github/**/*

Images:
- assets/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- src/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

Add an alert about deleted synthetic monitors (#34839)
  content/en/monitors/settings/_index.md
Labels: none

Add missing quotation mark to Directory check description (#34844)
  data/partials/requests.yaml
Labels: none

apm: document otel logs support in go and rust (#34579)
  content/en/opentelemetry/instrument/dd_sdks/api_support.mdoc.md
Labels: none

[AWSX-2117] feat(docs): add support for PCS/Bedrock agentcore autosubscription (#34832)
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: Guide

data streams gov support (#34819)
  config/_default/params.yaml
  content/en/data_streams/_index.md
  content/en/data_streams/dead_letter_queues.md
  content/en/data_streams/metrics_and_tags.md
  content/en/data_streams/schema_tracking.md
  content/en/data_streams/setup/_index.md
Labels: Architecture

Add LLM Observability MCP Tools documentation (#34748)
  config/_default/menus/main.en.yaml
  content/en/llm_observability/mcp_server.md
Labels: Architecture

Update action_management.md (#34822)
  content/en/product_analytics/guide/action_management.md
Labels: Guide

[DOCS-13460] Add GovCloud banner to Jira Error Tracking page (#34842)
  config/_default/params.yaml
  content/en/error_tracking/ticketing_systems/jira.md
Labels: Architecture

[DOCS-13475] Add US1-FED banner to Send a Flare page (#34843)
  content/en/agent/troubleshooting/send_a_flare.md
Labels: none

Fix incorrect region attr value (#34847)
  content/en/api/latest/rate-limits/_index.md
  content/en/api/v1/rate-limits/_index.md
  content/en/api/v2/rate-limits/_index.md
Labels: none

Add Arrays to DDSQL docs (#34848)
  content/en/ddsql_reference/_index.md
Labels: none

(maint) Add cdocs ignore checker (#34854)
  .husky/check-cdocs-gitignore.py
  .husky/pre-commit
Labels: none

[AGENT] RAM - Configure multiple Agents (#34646)
  content/en/agent/fleet_automation/remote_management.md
  static/images/agent/fleet_automation/fa_create_agent_configuration3.png
  static/images/agent/fleet_automation/fa_scope_config.png
Labels: none

Cipher suite deprecation (#34845)
  content/en/data_security/guide/tls_ciphers_deprecation.md
Labels: Guide

Add mobile app test metrics section to metrics page (#34851)
  content/en/synthetics/platform/metrics/_index.md
Labels: none

add product analytics to mcp (#34831)
  content/en/bits_ai/mcp_server/_index.md
Labels: none

Feat[DOCSENG-249]: New Docs AI - Conversational search (#33919)
  assets/scripts/build-api-pages.js
  assets/scripts/build-reference-pages.js
  assets/scripts/components/conversational-search/actions.js
  assets/scripts/components/conversational-search/index.js
  assets/scripts/components/conversational-search/logger.js
  assets/scripts/components/conversational-search/markdown.js
  assets/scripts/components/conversational-search/sources.js
  assets/scripts/components/conversational-search/streaming.js
  assets/scripts/components/dd-browser-logs-rum.js
  assets/scripts/components/instantsearch.js
  assets/scripts/components/instantsearch/searchbarHits.js
  assets/scripts/config/config-docs.js
  assets/scripts/helpers/feature-flags.js
  assets/scripts/main-dd-js.js
  assets/styles/components/conversational-search/_conversational-search.scss
  assets/styles/components/conversational-search/_dialog.scss
  assets/styles/components/conversational-search/_home-ask-ai.scss
  assets/styles/components/conversational-search/_message-actions.scss
  assets/styles/components/conversational-search/_resources.scss
  assets/styles/instantsearch/searchbar-with-dropdown.scss
  assets/styles/style.scss
  layouts/_default/baseof.html
  layouts/index.html
  layouts/partials/conversational-search.html
  layouts/partials/home-header.html
  layouts/partners/baseof.html
  package.json
  static/images/svg-icons/check-light.svg
  static/images/svg-icons/copy.svg
  static/images/svg-icons/info.svg
  static/images/svg-icons/spark-ai.svg
  static/images/svg-icons/thumbs-down.svg
  static/images/svg-icons/thumbs-up.svg
  typesense.config.json
  yarn.lock
Labels: Architecture

Fix[DOCSENG-249] Add internal targeting and include Datadog user status in Docs AI logs (#34864)
  assets/scripts/components/conversational-search/index.js
  assets/scripts/components/conversational-search/logger.js
  assets/scripts/components/conversational-search/streaming.js
  assets/scripts/components/instantsearch/searchbarHits.js
  assets/scripts/helpers/feature-flags.js
Labels: none

Add tips and tricks video reference (#34840)
  content/en/containers/kubernetes/integrations.md
Labels: none

Upgrade SDKs in Fleet Automation preview (#34809)
  content/en/agent/fleet_automation/remote_management.md
  static/images/agent/fleet_automation/sdk-upgrade-hosts.png
  static/images/agent/fleet_automation/sdk-upgrade-language.png
  static/images/agent/fleet_automation/sdk-upgrade-plan.png
Labels: none

Document ! negation for services, flags, and codeowners in code coverage PR gates (#34708)
  content/en/code_coverage/configuration.md
Labels: none

Revert "add insight to which agent processes and versions support SGC (#34791)" (#34865)
  content/en/agent/configuration/secrets-management.md
Labels: none

Change custom scanner name to API data scanner (#34866)
  content/en/security/application_security/api-inventory/_index.md
Labels: none

Delete .github/workflows/synthetics.yml (#34870)
  .github/workflows/synthetics.yml
Labels: Github

chore: update and remove deprecated Python IAST docs (#34798)
  content/en/security/code_security/iast/setup/_index.md
  content/en/security/code_security/iast/setup/compatibility/python.md
  content/en/security/code_security/software_composition_analysis/setup_runtime/compatibility/python.md
Labels: none

declare incident in secret scanning (#34850)
  content/en/incident_response/incident_management/investigate/declare.md
  static/images/service_management/incidents/declare/declare-secrets.png
Labels: none

chore: update node.js package installation instructions for Serverless (#34685)
  content/en/serverless/azure_app_service/linux_code.md
  content/en/serverless/azure_container_apps/in_container/nodejs.md
  content/en/serverless/azure_container_apps/sidecar/nodejs.md
  content/en/serverless/azure_functions/_index.md
  content/en/serverless/google_cloud_run/containers/in_container/nodejs.md
  content/en/serverless/google_cloud_run/containers/sidecar/nodejs.md
  content/en/serverless/google_cloud_run/functions/nodejs.md
  content/en/serverless/google_cloud_run/functions_1st_gen.md
  content/en/serverless/google_cloud_run/jobs/nodejs.md
Labels: none

dsm: Add BullMQ technology page (#34058)
  content/en/data_streams/setup/technologies/bullmq.md
  layouts/partials/data_streams/setup-technologies.html
  static/images/integrations_logos/bullmq.png
  static/images/integrations_logos/bullmq2.png
Labels: Architecture

Add missing steps (#34871)
  content/en/security/cloud_siem/triage_and_investigate/entities_and_risk_scoring.md
Labels: none

Kevinzenghu/include more links to do monitors (#34872)
  content/en/data_observability/quality_monitoring/data_lakes/aws_glue.md
  content/en/data_observability/quality_monitoring/data_warehouses/bigquery.md
  content/en/data_observability/quality_monitoring/data_warehouses/databricks.md
  content/en/data_observability/quality_monitoring/data_warehouses/snowflake.md
Labels: none

Refresh Continuous Testing (#34873)
  content/en/continuous_testing/cicd_integrations/_index.md
  content/en/continuous_testing/settings/_index.md
  layouts/partials/continuous_testing/ct-cicd-integrations.html
  static/images/continuous_testing/settings/estimated_parallelization_2.png
  static/images/continuous_testing/settings/parallelization_2.png
Labels: Architecture

(maint) Fix site-support banner on action catalog (#34882)
  layouts/actioncatalog/list.html
Labels: Architecture

Update OTLP traces preview contact to Customer Success Manager (#34881)
  content/en/opentelemetry/setup/otlp_ingest/_index.md
  content/en/opentelemetry/setup/otlp_ingest/traces.md
Labels: none

Update Azure standalone log forwarder deploy link (#34883)
  content/en/getting_started/integrations/azure.md
  content/en/logs/guide/azure-manual-log-forwarding.md
  content/es/getting_started/integrations/azure.md
  content/es/logs/guide/azure-manual-log-forwarding.md
Labels: Guide

Initial commit - frontier group (#34880)
  content/en/security/cloud_security_management/guide/_index.md
  content/en/security/cloud_security_management/guide/frontier_group.md
Labels: none

Add reference docs for incident template variables (#34838)
  config/_default/menus/main.en.yaml
  content/en/incident_response/incident_management/investigate/notification.md
  content/en/incident_response/incident_management/setup_and_configuration/notification_rules.md
  content/en/incident_response/incident_management/setup_and_configuration/templates.md
  content/en/incident_response/incident_management/setup_and_configuration/variables.md
Labels: Architecture

Add guide for instrumenting unsupported runtimes with OpenTelemetry (#34859)
  config/_default/menus/main.en.yaml
  content/en/opentelemetry/guide/_index.md
  content/en/opentelemetry/guide/instrument_unsupported_runtimes.md
Labels: Architecture, Guide

[AWSX-2114] feat(aws) : add IoT Core CW doc (#34835)
  content/en/logs/guide/send-aws-services-logs-with-the-datadog-lambda-function.md
Labels: Guide

Add Unix Domain Socket (UDS) instructions to ECS/EC2 for APM (#33853)
  content/en/containers/amazon_ecs/_index.md
  content/en/containers/amazon_ecs/apm.md
  static/resources/json/datadog-agent-ecs-apm-uds.json
Labels: none

Fix link (#34898)
  content/en/api/latest/scopes/_index.md
Labels: none
