Repository DevKyleS/datadog-documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide

Bump SDK
  data/sdk_versions.json
Labels: none

Bump SDK
  data/sdk_versions.json
Labels: none

[LLM-OBS] Add built-in evaluators documentation (#34331)
  content/en/llm_observability/evaluations/_index.md
  content/en/llm_observability/guide/evaluation_developer_guide.md
Labels: Guide

Add Natural Language Query documentation to Audit Trail (#34622)
  content/en/account_management/audit_trail/_index.md
  static/images/account_management/audit_logs/audit_trail_nlq_light.mp4
Labels: Images

Add Getting Started with Software Delivery MCP Tools page (#34022)
  config/_default/menus/main.en.yaml
  content/en/getting_started/software_delivery.md
  content/en/getting_started/software_delivery_mcp_tools/_index.md
Labels: Architecture

documentation for Data Observability AWS Glue Iceberg integration (#34345)
  config/_default/menus/main.en.yaml
  content/en/data_observability/quality_monitoring/_index.md
  content/en/data_observability/quality_monitoring/data_lakes/_index.md
  content/en/data_observability/quality_monitoring/data_lakes/aws_glue.md
  static/images/data_observability/aws_glue/account-selection.png
  static/images/data_observability/aws_glue/crawler-configuration.png
  static/images/data_observability/aws_glue/lakeformation-permissions.png
  static/images/data_observability/aws_glue/settings-configure-button.png
Labels: Images, Architecture

Update lambda-logs-collection-troubleshooting-guide.md (#33162)
  content/en/logs/guide/lambda-logs-collection-troubleshooting-guide.md
Labels: Guide

repeated line (#34613)
  content/en/network_monitoring/devices/_index.md
Labels: none

(Account Management) update team filter table (#34584)
  content/en/account_management/teams/_index.md
Labels: none

[DOCS-12791] Governance Console (#34297)
  config/_default/menus/main.en.yaml
  content/en/account_management/governance_console/_index.md
  content/en/account_management/governance_console/controls.md
  static/images/account_management/governance_console/governance-console-overview-3.png
  static/images/account_management/governance_console/manual-mitigation-2.png
Labels: Images, Architecture

[ACTP] Retrieve the list of private actions dynamically (#34635)
  content/en/actions/private_actions/use_private_actions.md
  layouts/partials/actions/private_actions_allowlist.html
Labels: Architecture

[MLOB] Add Amazon Bedrock structured output support to documentation (#34564)
  content/en/llm_observability/evaluations/custom_llm_as_a_judge_evaluations/_index.md
  content/en/llm_observability/evaluations/evaluation_compatibility.md
Labels: none

[OTAGENT-860] Fix RBAC permissions in load balancing exporter (#34644)
  content/en/opentelemetry/setup/ddot_collector/install/kubernetes_gateway.md
Labels: none

updates (#34638)
  content/en/observability_pipelines/sources/_index.md
  content/en/observability_pipelines/sources/cloudflare_logpush.md
Labels: none

Clarify 'x-datadog-origin' header description (#34624)
  content/en/real_user_monitoring/correlate_with_other_telemetry/apm/_index.md
Labels: none

use View Findings for workload-activity rules (#34530)
  layouts/security_rules/single.html
Labels: Architecture

Fix broken #annotating-a-span anchor links in LLM Obs SDK reference (#34628)
  content/en/llm_observability/instrumentation/sdk.md
Labels: none

[SVLS-8313] add guide on disabling cloudwatch logs (#34509)
  content/en/serverless/guide/_index.md
  content/en/serverless/guide/disable_cloudwatch_logs.md
Labels: Guide

Updating the Jobs Monitoring Documentation for the SP set up instructions for Azure (#34642)
  content/en/data_observability/jobs_monitoring/databricks.md
Labels: none

Mention preferred timezone in status pages email notifications docs (#34647)
  content/en/incident_response/status_pages/_index.md
  static/images/service_management/status_pages/status_pages_subscription_1.png
Labels: Images

Fix link reference for GitHub repository (#34649)
  content/en/security/application_security/setup/ruby/compatibility.md
Labels: none

Remove incorrect Go migration alias from server-side custom instrumentation page (#34651)
  content/en/tracing/trace_collection/custom_instrumentation/server-side/_index.mdoc.md
Labels: none

[DOCS-13410] Move processor shortcode content inline (Batch 1) (#34597)
  content/en/observability_pipelines/processors/add_environment_variables.md
  content/en/observability_pipelines/processors/add_hostname.md
  content/en/observability_pipelines/processors/custom_processor.md
  content/en/observability_pipelines/processors/edit_fields.md
  content/en/observability_pipelines/processors/generate_metrics.md
  content/en/observability_pipelines/processors/grok_parser.md
Labels: none

[MLOB-5571] migrating agentic evals to templates documentation update (#34559)
  config/_default/menus/main.en.yaml
  content/en/llm_observability/evaluations/custom_llm_as_a_judge_evaluations/template_evaluations.md
  content/en/llm_observability/evaluations/evaluation_compatibility.md
  content/en/llm_observability/evaluations/managed_evaluations/agent_evaluations.md
  content/en/llm_observability/evaluations/managed_evaluations/session_level_evaluations.md
  static/images/llm_observability/evaluations/goal_completeness_2.png
  static/images/llm_observability/evaluations/template_llm_as_a_judge_evaluations_1.png
  static/images/llm_observability/evaluations/tool_argument_correctness_2.png
  static/images/llm_observability/evaluations/tool_selection_2.png
Labels: Images, Architecture

[DOCS-13369] Add tag duration note (#34656)
  content/en/metrics/summary.md
Labels: none

Update generate_metrics.md to remove access request info (#34631)
  content/en/tracing/trace_pipeline/generate_metrics.md
Labels: none

Update authorization type from Basic to Plain (#34637)
  content/en/observability_pipelines/sources/http_server.md
Labels: none

[SDCI-2062] Update Azure pipelines docs to show GA of log collection (#34122)
  content/en/continuous_integration/pipelines/azure.md
  content/en/continuous_integration/search/_index.md
Labels: none

[FFL-917] Add documentation for the Flags SDK for React Native (#34355)
  config/_default/menus/main.en.yaml
  content/en/feature_flags/client/reactnative.md
  layouts/partials/feature_flags/feature_flags_client.html
Labels: Architecture

[WEB-7848] update announcement banner (#34655)
  config/_default/params.en.yaml
  config/_default/params.es.yaml
  config/_default/params.fr.yaml
  config/_default/params.ja.yaml
  config/_default/params.ko.yaml
  go.mod
  go.sum
Labels: Architecture

[DOCS-13412] Add LLM Observability and Secret Scanning to SDS docs (#34600)
  content/en/security/sensitive_data_scanner/_index.md
  content/en/security/sensitive_data_scanner/setup/_index.md
Labels: none

AQG-95: document ddsql extract function epoch support (#34601)
  content/en/ddsql_reference/_index.md
Labels: none

[DOCS-13410] Move processor shortcode content inline (Batch 2) (#34608)
  content/en/observability_pipelines/processors/parse_json.md
  content/en/observability_pipelines/processors/parse_xml.md
  content/en/observability_pipelines/processors/quota.md
  content/en/observability_pipelines/processors/reduce.md
  content/en/observability_pipelines/processors/remap_ocsf.md
Labels: none

[DOCS-13410] Move processor shortcode content inline (Batch 3) (#34610)
  content/en/observability_pipelines/processors/sample.md
  content/en/observability_pipelines/processors/sensitive_data_scanner.md
  content/en/observability_pipelines/processors/split_array.md
  content/en/observability_pipelines/processors/tag_control/logs.md
  content/en/observability_pipelines/processors/throttle.md
Labels: none

Update Estimated Usage Metrics with Secrets Scanning and IaC (#34666)
  content/en/account_management/billing/usage_metrics.md
Labels: none

fix: disable-edit broke the right column (#34665)
  content/en/security/code_security/iac_security/iac_rules/_index.md
Labels: none

[AAP] Add custom Endpoint Authentication tagging documentation (#34427)
  content/en/security/application_security/api-inventory/_index.md
Labels: none

Document automations feature in LLMO How to create datasets (#34657)
  content/en/llm_observability/experiments/datasets.md
Labels: none

[DOCS-13165] add Chai assertion examples (#34492)
  content/en/synthetics/api_tests/http_tests.md
  static/images/synthetics/api_tests/JS_assertion.png
Labels: Images

Add instructions for docker label integration on ecs managed instances (#34668)
  content/en/containers/amazon_ecs/managed_instances.md
Labels: none

.github/labeler.yml:

Github:
- .github/**/*

Images:
- assets/images/**/*
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/css/**/*
- assets/js/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*
