Repository DevKyleS/datadog-documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide

.github/labeler.yml:

Github:
- .github/**/*

Images:
- assets/images/**/*
- static/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- assets/css/**/*
- assets/js/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

OpsGenie migration guide (#34623)
  content/en/incident_response/on-call/guides/_index.md
  content/en/incident_response/on-call/guides/migrate-your-opsgenie-resources-to-on-call.md
  content/en/incident_response/on-call/guides/migrating-from-your-current-providers.md
  static/images/service_management/oncall/import-opsgenie-escalation-policy.png
  static/images/service_management/oncall/import-opsgenie-team.png
  static/images/service_management/oncall/map-opsgenie-team-to-datadog-team.png
Labels: Images

Add page for SDK configurations view (#34605)
  config/_default/menus/main.en.yaml
  content/en/tracing/troubleshooting/_index.md
  content/en/tracing/troubleshooting/sdk_configurations.md
Labels: Architecture

Add OTLP traces intake endpoint preview note (#34724)
  content/en/opentelemetry/setup/otlp_ingest/_index.md
Labels: none

[DOCS-13339] Clean up AI Enhanced SAST page (#34542)
  content/en/security/code_security/static_analysis/ai_enhanced_sast.md
Labels: none

Add config visibility tip to library config pages. (#32958)
  content/en/tracing/trace_collection/library_config/_index.md
  content/en/tracing/trace_collection/library_config/cpp.md
  content/en/tracing/trace_collection/library_config/dotnet-core.md
  content/en/tracing/trace_collection/library_config/dotnet-framework.md
  content/en/tracing/trace_collection/library_config/go.md
  content/en/tracing/trace_collection/library_config/java.md
  content/en/tracing/trace_collection/library_config/nodejs.md
  content/en/tracing/trace_collection/library_config/php.md
  content/en/tracing/trace_collection/library_config/python.md
  content/en/tracing/trace_collection/library_config/ruby.md
  layouts/shortcodes/apm-config-visibility.en.md
Labels: Architecture

Fix mistakes in Install the Worker (#34737)
  content/en/observability_pipelines/configuration/install_the_worker/_index.md
  content/en/observability_pipelines/configuration/install_the_worker/advanced_worker_configurations.md
Labels: none

Update filter.md (#34532)
  content/en/observability_pipelines/processors/filter.md
Labels: none

update python profiler docs (#34743)
  content/en/profiler/enabling/python.md
  content/en/profiler/enabling/ssi.md
  content/en/profiler/enabling/supported_versions.md
  content/en/profiler/profile_types.md
Labels: none

Update GitHub Teams deletion behavior docs (#34747)
  content/en/account_management/teams/github.md
Labels: none

[CDOCS] Convert CCM Container Cost Allocation to mdoc format (#34537)
  config/_default/menus/main.en.yaml
  content/.gitignore
  content/en/cloud_cost_management/allocation/container_cost_allocation.mdoc.md
  customization_config/en/option_groups/cloud_cost.yaml
Labels: Architecture

[CONTP-1246] docs(k8s_tags): Add AD template variable to k8s tag autodiscovery section (#34241)
  content/en/containers/kubernetes/tag.md
Labels: none

Small addition and fixes to the Filter processor (#34749)
  content/en/observability_pipelines/configuration/set_up_pipelines.md
  content/en/observability_pipelines/processors/filter.md
  layouts/shortcodes/observability_pipelines/set_up_pipelines/add_another_processor_group.en.md
Labels: Architecture

[DOCS-13297] Remove filter query syntax sections from processor docs (#34744)
  content/en/observability_pipelines/processors/add_environment_variables.md
  content/en/observability_pipelines/processors/add_hostname.md
  content/en/observability_pipelines/processors/dedupe.md
  content/en/observability_pipelines/processors/edit_fields.md
  content/en/observability_pipelines/processors/enrichment_table.md
  content/en/observability_pipelines/processors/filter.md
  content/en/observability_pipelines/processors/generate_metrics.md
  content/en/observability_pipelines/processors/grok_parser.md
  content/en/observability_pipelines/processors/parse_json.md
  content/en/observability_pipelines/processors/parse_xml.md
  content/en/observability_pipelines/processors/quota.md
  content/en/observability_pipelines/processors/reduce.md
  content/en/observability_pipelines/processors/remap_ocsf.md
  content/en/observability_pipelines/processors/sample.md
  content/en/observability_pipelines/processors/sensitive_data_scanner.md
  content/en/observability_pipelines/processors/split_array.md
  content/en/observability_pipelines/processors/tag_control/logs.md
  content/en/observability_pipelines/processors/tag_control/metrics.md
  content/en/observability_pipelines/processors/throttle.md
Labels: none

Update _index.md (#34735)
  content/en/internal_developer_portal/eng_reports/_index.md
Labels: none

these are no longer in preview (#34701)
  content/en/ddsql_reference/_index.md
Labels: none

add api spec segment (#34765)
  config/_default/segments.yaml
Labels: Architecture

Document tag description editing in Tag Explorer (#34697)
  content/en/cloud_cost_management/tags/tag_explorer.md
  static/images/cloud_cost/tag_explorer/edit_tag_description.png
Labels: Images

Update IOC Explorer docs for GA (#34717)
  content/en/security/cloud_siem/triage_and_investigate/ioc_explorer.md
  static/images/security/security_monitoring/ioc_explorer_1.png
Labels: Images

Add Events Forwarding documentation page (#34767)
  config/_default/menus/main.en.yaml
  content/en/logs/log_configuration/forwarding_custom_destinations.md
  content/en/security/events_forwarding.md
  static/images/security/events_forwarding/events_forwarding_overview.png
  static/images/security/events_forwarding/new_destination.png
Labels: Images, Architecture

[DOCS-13309] Add links to regex parsing guide in OP processor docs (#34522)
  content/en/observability_pipelines/processors/custom_processor.md
  content/en/observability_pipelines/processors/sensitive_data_scanner.md
Labels: none

Add the four new supported frameworks (#34771)
  content/en/security/application_security/api-inventory/_index.md
Labels: none

[DOCS-13346] Update CCM Tag Pipelines docs for replace tag feature (#34449)
  config/_default/menus/main.en.yaml
  content/en/cloud_cost_management/allocation/tag_pipelines.md
  static/images/cloud_cost/pipelines-add-tag-2.png
  static/images/cloud_cost/pipelines-alias-tag-4.png
  static/images/cloud_cost/pipelines-create-ruleset-1.png
  static/images/cloud_cost/pipelines-map-multiple-tags-2.png
Labels: Images, Architecture

fix the conditonal (#34775)
  layouts/security_rules/single.html
Labels: Architecture

Cleanup profiling documentation (#34760)
  content/en/profiler/_index.md
  content/en/profiler/connect_traces_and_profiles.md
  content/en/profiler/enabling/ddprof.md
  content/en/profiler/enabling/java.md
  content/en/profiler/profile_types.md
  content/en/profiler/profile_visualizations.md
  content/en/profiler/profiler_troubleshooting/php.md
Labels: none

Clearer instructions for migrating from datadog-lambda-go v1 to v2 (#34773)
  content/en/serverless/aws_lambda/instrumentation/go.md
Labels: none

[DOCS-13129] Update CCM Permissions (#34308)
  config/_default/menus/main.en.yaml
  content/en/cloud_cost_management/_index.md
  content/en/cloud_cost_management/setup/permissions.md
Labels: Architecture

[DOCS-13391] Update Power BI API setting name to Fabric APIs (#34705)
  content/en/data_observability/quality_monitoring/business_intelligence/powerbi.md
Labels: none

Reorg the Source Code Integration docs [DOCS-12834] (#33866)
  config/_default/menus/main.en.yaml
  content/en/integrations/guide/_index.md
  content/en/integrations/guide/source-code-integration.md
  content/en/source_code/_index.md
  content/en/source_code/features.md
  content/en/source_code/resource-mapping.md
  content/en/source_code/service-mapping.md
  content/en/source_code/source-code-management.md
Labels: Architecture, Guide

[DOCS-10310] Add multiple rules section to Error Tracking (#34714)
  content/en/error_tracking/manage_data_collection.md
Labels: none

Add Anthropic to SaaS costs navigation menu (#34780)
  config/_default/menus/main.en.yaml
Labels: Architecture

Optimize MP4s in static/images for web delivery (#34783)
  static/images/dashboards/widgets/geomap/geomap_zoom_region.mp4
  static/images/datadog_cloudcraft/cloudcraft_with_ccm.mp4
  static/images/datadog_cloudcraft/cloudcraft_with_ccm_2.mp4
  static/images/datadog_cloudcraft/search_highlight.mp4
  static/images/datadog_cloudcraft/search_highlight_3.mp4
  static/images/infrastructure/containers_view/CRD_indexing_access_1.mp4
  static/images/real_user_monitoring/session_replay/heatmaps/heatmaps-change-snapshot.mp4
  static/images/tracing/software_catalog/scorecard-create-and-update-rule-ui.mp4
Labels: Images

docs(trace-retention): clarify span vs trace sampling order and behavior (#34754)
  content/en/tracing/trace_pipeline/trace_retention.md
Labels: none

Document all MCP Server toolsets (#34725)
  content/en/bits_ai/mcp_server/_index.md
Labels: none

[DOCS-13238] Add Kubernetes services info (#34678)
  content/en/observability_pipelines/configuration/install_the_worker/_index.md
Labels: none

Updating RUM sampling rate from UI (#33711)
  content/en/real_user_monitoring/guide/best-practices-for-rum-sampling.md
  static/images/real_user_monitoring/browser/browser-change-sampling.png
Labels: Images, Guide

Improve Synthetics notifications page structure and clarity (#34782)
  content/en/synthetics/notifications/_index.md
Labels: none

Add Looker BI integration docs under Data Observability (#34778)
  config/_default/menus/main.en.yaml
  content/en/data_observability/quality_monitoring/_index.md
  content/en/data_observability/quality_monitoring/business_intelligence/_index.md
  content/en/data_observability/quality_monitoring/business_intelligence/looker.md
  content/en/data_observability/quality_monitoring/business_intelligence/metabase.md
  content/en/data_observability/quality_monitoring/business_intelligence/powerbi.md
  content/en/data_observability/quality_monitoring/business_intelligence/sigma.md
  content/en/data_observability/quality_monitoring/business_intelligence/tableau.md
Labels: Architecture

[DOCS-13295] (Containers) Update for the maximumGoroutines setting in the Datadog Operator (#34687)
  content/en/containers/troubleshooting/cluster-agent.md
Labels: none

Update log Indexes usage BP (#34634)
  content/en/logs/guide/best-practices-for-log-management.md
Labels: Guide

Make Python action libraries dynamic (#34757)
  .gitignore
  content/en/actions/workflows/expressions/python.md
  layouts/shortcodes/workflow-python-action-characteristics.html
Labels: Architecture
