Repository DevKyleS/datadog-documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide

.github/labeler.yml:

Github:
- .github/**/*

Images:
- assets/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- src/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

[DOCS-15154] Add outdated integration version section to OCI troubleshooting guide (#38362)
  content/en/integrations/guide/oci-integration-troubleshooting.md
Labels: Guide

Revamp BYOC Logs architecture page (#38382)
  content/en/byoc-logs/introduction/architecture.md
  static/images/cloudprem/overview_architecture_v2.png
  static/images/cloudprem/overview_architecture_v2.svg
Labels: none

[DOCS-15167] Configure BYOC Logs disk buffer durability (#38383)
  config/_default/menus/main.en.yaml
  content/en/byoc-logs/operate/_index.md
  content/en/byoc-logs/operate/disk_buffer_durability.md
  static/images/cloudprem/operate/disk-buffer-durability.svg
Labels: Architecture

Add missing DDOT collector components to included components list (#38404)
  content/en/opentelemetry/setup/ddot_collector/_index.md
Labels: none

[DOCS-15059] Add Agent-side Tag Aggregation guide (Preview) (#38245)
  content/en/metrics/guide/_index.md
  content/en/metrics/guide/agent-side-tag-aggregation.md
Labels: Guide

fix broken airflow openlineage link (#38339)
  content/en/data_observability/jobs_monitoring/airflow.md
Labels: none

Add valid tokens for HTTP Server and Splunk HEC sources (#38358)
  content/en/observability_pipelines/sources/http_server.md
  content/en/observability_pipelines/sources/splunk_hec.md
Labels: none

[SDCT-733] Document broken flaky test handling (#38385)
  content/en/tests/flaky_management/_index.md
Labels: none

Fix dd-llmo skill install command on MCP server and Claude Code skills pages (#37057)
  content/en/llm_observability/guide/claude_code_skills.md
  content/en/llm_observability/mcp_server.md
Labels: Guide

Add Playwright failure screenshot instructions (#38307)
  content/en/tests/setup/javascript.md
  static/images/continuous_integration/tests/setup/playwright-failure-screenshot-media-tab.png
Labels: none

Update BYOC Logs feature parity list (#38354)
  content/en/byoc-logs/introduction/features.md
Labels: none

update docs & examples for cumulative 2 delta processor auto-injection (#38418)
  content/en/opentelemetry/guide/otlp_delta_temporality.md
  content/en/opentelemetry/migrate/ddot_collector.md
  content/en/opentelemetry/setup/ddot_collector/custom_components/kubernetes.md
  content/en/opentelemetry/setup/ddot_collector/custom_components/linux.md
  content/en/opentelemetry/setup/ddot_collector/custom_components/windows.md
  content/en/opentelemetry/setup/ddot_collector/install/eks_fargate.md
  content/en/opentelemetry/setup/ddot_collector/install/kubernetes_daemonset.md
  content/en/opentelemetry/setup/ddot_collector/install/linux.md
  content/en/opentelemetry/setup/ddot_collector/install/windows.md
Labels: Guide

recommend starting the serverless compatibility layer before the python tracer for Azure Functions (#38420)
  content/en/serverless/azure_functions/_index.md
  content/es/serverless/azure_functions/_index.md
Labels: none

[codex] Clarify supported BYOC Logs platforms (#38419)
  content/en/byoc-logs/_index.md
  content/en/byoc-logs/install/_index.md
  content/en/byoc-logs/install/docker.md
  content/en/byoc-logs/introduction/_index.md
Labels: none

Add Windows Server 2025 to private location supported OS list (#38423)
  content/en/synthetics/platform/private_locations/_index.md
Labels: none

(DOCS-15141) Small language fix (#38436)
  content/en/database_monitoring/troubleshooting.md
Labels: none

Document container-based primary tags as enabled by default (Agent 7.65.0) (#38381)
  content/en/tracing/guide/setting_primary_tags_to_scope.md
Labels: Guide

Add unsupported integrations to params (#38439)
  config/_default/params.yaml
Labels: Architecture

OpenInfenrence support for Otel instrumentation (#38409)
  content/en/llm_observability/instrumentation/otel_instrumentation.md
Labels: none

Add Fleet Automation callout to integrations getting started guide (#38446)
  content/en/getting_started/integrations/_index.md
Labels: none

Document create_llmobs_experiment MCP tool (#38445)
  content/en/llm_observability/mcp_server.md
Labels: none

Clarify OpenAPI traffic matching (#38342)
  content/en/internal_developer_portal/catalog/troubleshooting.md
Labels: none

Fix configuration for security products (#38414)
  content/en/agent/configuration/dual-shipping.md
Labels: none
