Repository DevKyleS/datadog-documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide

.github/labeler.yml:

Github:
- .github/**/*

Images:
- assets/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- src/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

(Actions) Add App Builder side panel component (#34486)
  content/en/actions/app_builder/components/_index.md
Labels: none

update headers (#34669)
  content/en/observability_pipelines/processors/add_environment_variables.md
  content/en/observability_pipelines/processors/custom_processor.md
  content/en/observability_pipelines/processors/edit_fields.md
Labels: none

(Actions) Add App Builder image component (#34485)
  content/en/actions/app_builder/components/_index.md
Labels: none

[DOCS-13087] Move visual resources (#34659)
  content/en/metrics/reference_table_joins_with_metrics.md
  static/images/metrics/nested_queries/reference_table_joins_with_metrics/composite_metric_query_example.mp4
  static/images/metrics/nested_queries/reference_table_joins_with_metrics/reference_table_example.png
  static/images/metrics/nested_queries/reference_table_joins_with_metrics/reference_table_join.png
Labels: none

Update AI Guard onboarding docs (#34660)
  content/en/security/ai_guard/onboarding.md
Labels: none

Add minimum library version column to Ruby DSM supported libraries table (#34670)
  content/en/data_streams/setup/language/ruby.md
Labels: none

Docs12864/oci getting started (#34313)
  config/_default/menus/main.en.yaml
  content/en/getting_started/integrations/oci.md
  static/images/getting_started/integrations/oci/oci-dashboard.png
Labels: Architecture

(cdocs)(rum) Advanced configuration (#33381)
  .vscode/markdoc.code-snippets
  content/.gitignore
  content/en/real_user_monitoring/application_monitoring/browser/advanced_configuration.mdoc.md
  customization_config/en/option_groups/real_user_monitoring.yaml
  customization_config/en/options/version_numbers.yaml
Labels: none

Fix command shortcut for Bits AI in Chat (Cmd+/ → Cmd+I) (#34630)
  content/en/bits_ai/chat_with_bits_ai.md
Labels: none

Add GKE installation page (#34553)
  config/_default/menus/main.en.yaml
  content/en/cloudprem/install/_index.md
  content/en/cloudprem/install/azure_aks.md
  content/en/cloudprem/install/custom_k8s.md
  content/en/cloudprem/install/gcp_gke.md
  content/en/cloudprem/operate/troubleshooting.md
Labels: Architecture

Live debugger: minor wording correction + bump ruby tracer version requirement (#34175)
  content/en/tracing/live_debugger/_index.md
Labels: none

Update slo metric queries (#34677)
  content/en/service_level_objectives/metric.md
Labels: none

RUM-12436 Update iOS Network Instrumentation (#34396)
  content/en/real_user_monitoring/application_monitoring/ios/advanced_configuration.md
  content/en/real_user_monitoring/application_monitoring/ios/integrated_libraries.md
  content/en/real_user_monitoring/application_monitoring/ios/setup.md
  content/en/real_user_monitoring/correlate_with_other_telemetry/apm/_index.md
  content/en/tracing/trace_collection/dd_libraries/ios.md
Labels: none

[error-tracking] team ownership editing (#34615)
  content/en/error_tracking/issue_team_ownership.md
Labels: none

Add YAML-based PR Gates to Code Coverage docs (#34625)
  content/en/code_coverage/configuration.md
  content/en/code_coverage/flags.md
  content/en/code_coverage/monorepo_support.md
  content/en/code_coverage/setup.md
Labels: none

[SDTEST-3396] Document Bits AI flaky test fix requirements (#34692)
  content/en/tests/flaky_management/_index.md
Labels: none

[incident-response] Incident declaration from Google Chat documentation (#34192)
  content/en/incident_response/incident_management/investigate/declare.md
  content/en/incident_response/incident_management/setup_and_configuration/integrations/google_chat.md
Labels: none

Delete host metrics receiver section from documentation (#34606)
  content/en/opentelemetry/integrations/kubernetes_metrics.md
Labels: none

Add Code Coverage Committers to estimated usage metrics table (#34617)
  content/en/account_management/billing/usage_metrics.md
Labels: none

LLMO: Advanced Experiment Runs (Multi-run experiments) (#34676)
  config/_default/menus/main.en.yaml
  content/en/llm_observability/experiments/advanced_runs.md
  content/en/llm_observability/experiments/setup.md
  static/images/llm_observability/evaluations/multi-run-compare.png
  static/images/llm_observability/evaluations/multi-run-query.png
Labels: Architecture

Add Java/Mongo support to DBM/APM page (#34693)
  content/en/database_monitoring/connect_dbm_and_apm.md
  content/en/tracing/trace_collection/library_config/java.md
Labels: none

Add note about future cost limitation (#34595)
  content/en/cloud_cost_management/setup/custom.md
Labels: none

DOCS-13177: Static Endpoint Discovery (#34684)
  content/en/security/application_security/api-inventory/_index.md
Labels: none

Tweak copy button styles (#34710)
  assets/styles/components/_table-of-contents.scss
Labels: none

Update config for Cdocs partials (#34704)
  config/_default/config.yaml
Labels: Architecture

Add new guide for incident testing (#34539)
  config/_default/menus/main.en.yaml
  content/en/incident_response/incident_management/guides/_index.md
  content/en/incident_response/incident_management/guides/test_incidents.md
  content/en/incident_response/incident_management/setup_and_configuration/information.md
  static/images/incident_response/incident_management/guides/test_incidents/example_test_incident.png
Labels: Architecture

Add domains for firewall allowlist (#34674)
  content/en/observability_pipelines/configuration/install_the_worker/_index.md
  content/en/observability_pipelines/configuration/live_capture.md
  content/en/observability_pipelines/monitoring_and_troubleshooting/troubleshooting.md
Labels: none

Agent Logs: warn about mojibake when changing encoding mid-tail (AGNTLOG-106) (#34688)
  content/en/agent/logs/advanced_log_collection.md
Labels: none

[DOCS-12642] Add US1-FED unavailability notices to RUM Auto-Instrumentation pages (#34707)
  content/en/real_user_monitoring/application_monitoring/browser/setup/_index.md
  content/en/real_user_monitoring/application_monitoring/browser/setup/server/_index.md
  content/en/real_user_monitoring/application_monitoring/browser/setup/server/apache.md
  content/en/real_user_monitoring/application_monitoring/browser/setup/server/ibm.md
  content/en/real_user_monitoring/application_monitoring/browser/setup/server/java.md
  content/en/real_user_monitoring/application_monitoring/browser/setup/server/nginx.md
  content/en/real_user_monitoring/application_monitoring/browser/setup/server/windows_iis.md
Labels: none

Add traceroute_queries and e2e_queries config params to Network Path setup (#34718)
  content/en/network_monitoring/network_path/setup.md
Labels: none

Update max HTTP request step assertions from 20 to 25 (#34716)
  content/en/synthetics/browser_tests/test_steps.md
Labels: none

[DOCS-13431] Add documentation for overriding interface speed in SNMP (#34715)
  content/en/network_monitoring/devices/snmp_metrics.md
Labels: none

Update dead link for debug-id command (#34700)
  content/en/real_user_monitoring/application_monitoring/react_native/error_tracking.md
Labels: none

[DOCS-13041] Add dedupe cache info (#34723)
  content/en/observability_pipelines/processors/dedupe.md
Labels: none

chore: remove duplicate import in expo setup docs (#34729)
  content/en/real_user_monitoring/application_monitoring/react_native/setup/expo.md
Labels: none

[AGENTRUN-1051] Update FIPS proxy version references to 1.1.21 (#34731)
  content/en/agent/faq/fips_proxy.md
Labels: FAQ

[IDE-5535] Add RubyMine to JetBrains IDE plugin documentation (#34734)
  content/en/developers/ide_plugins/_index.md
  content/en/developers/ide_plugins/idea/_index.md
  content/en/getting_started/code_security/_index.md
  content/en/security/code_security/dev_tool_int/ide_plugins/_index.md
Labels: none

Fixing missing required environment variables (#34736)
  layouts/shortcodes/serverless-init-env-vars-in-container.html
Labels: Architecture

[DOCS-12980] Add agentConfiguration parameter instructions (#33582)
  content/en/integrations/guide/azure-advanced-configuration.md
Labels: Guide

Update minimum macOS version for nodejs appsec (#34730)
  content/en/security/application_security/setup/nodejs/compatibility.md
Labels: none
