Repository DevKyleS/datadog-documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide

.github/labeler.yml:

Github:
- .github/**/*

Images:
- assets/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- src/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

Refactor CI Visibility docs on special case for Github on custom tags and commands (#34772)
  content/en/continuous_integration/pipelines/custom_commands.md
  content/en/continuous_integration/pipelines/custom_tags_and_measures.md
Labels: none

Update how-synthetics-monitors-trigger-alerts.md (#34784)
  content/en/synthetics/guide/how-synthetics-monitors-trigger-alerts.md
Labels: Guide

Remove noisy integration page not found warnings from shortcodes - [WEB-7919] (#34753)
  layouts/shortcodes/get-metrics-from-git.html
  layouts/shortcodes/get-service-checks-from-git.html
Labels: Architecture

Move IDE Plugins docs [DOCS-13381] - redux (#34777)
  config/_default/menus/main.en.yaml
  content/en/bits_ai/mcp_server/_index.md
  content/en/bits_ai/mcp_server/setup.md
  content/en/cloudprem/guides/query_logs_with_mcp.md
  content/en/getting_started/code_security/_index.md
  content/en/getting_started/continuous_testing/_index.md
  content/en/ide_plugins/_index.md
  content/en/ide_plugins/idea/_index.md
  content/en/ide_plugins/idea/code_security.md
  content/en/ide_plugins/idea/error_tracking.md
  content/en/ide_plugins/idea/live_debugger.md
  content/en/ide_plugins/idea/logs.md
  content/en/ide_plugins/vscode/_index.md
  content/en/security/code_security/dev_tool_int/ide_plugins/_index.md
  content/en/security/code_security/static_analysis/_index.md
  content/en/security/code_security/static_analysis/setup/_index.md
  content/en/tracing/code_origin/_index.md
  content/en/tracing/live_debugger/_index.md
  layouts/partials/code_analysis/ide-plugins.html
  layouts/partials/code_security/ide-plugins.html
Labels: Architecture

move note (#34786)
  layouts/shortcodes/observability_pipelines/metrics/buffer.en.md
Labels: Architecture

single-sourcing helm operator migration (#34414)
  .gitignore
  config/_default/menus/main.en.yaml
  content/en/containers/kubernetes/migration.md
  local/bin/py/build/configurations/pull_config.yaml
  local/bin/py/build/configurations/pull_config_preview.yaml
Labels: Architecture

[LLM-OBS] Add LLMJudge documentation (#34332)
  content/en/llm_observability/guide/evaluation_developer_guide.md
Labels: Guide

DSM Transaction Tracking (#34755)
  config/_default/menus/main.en.yaml
  content/en/data_streams/business_transaction_tracking.md
  static/images/data_streams/btt-configure-verify.png
  static/images/data_streams/btt-create-pipeline.png
  static/images/data_streams/btt-outcome.png
Labels: Architecture

(AI) Add llm page hints (#34713)
  layouts/_default/baseof.html
  layouts/partials/page-agent-hint.html
  layouts/partials/pages-json-cache.html
Labels: Architecture

Update metric.md (#34795)
  content/en/service_level_objectives/metric.md
Labels: none

[DOCS-XXXXX] Rename Chat with Bits AI to Bits Assistant (#34790)
  config/_default/menus/main.en.yaml
  content/en/bits_ai/_index.md
  content/en/bits_ai/bits_assistant.md
  content/en/bits_ai/chat_with_bits_ai.md
  content/en/mobile/_index.md
  static/images/bits_ai/getting_started/bits_assistant_panel.png
Labels: Architecture

Docs13050/windows memory metrics (#34341)
  content/en/metrics/guide/_index.md
  content/en/metrics/guide/windows-memory-metrics-in-datadog.md
  static/images/metrics/guide/windows_memory_metrics_in_datadog/windows_process_explorer.png
  static/images/metrics/guide/windows_memory_metrics_in_datadog/windows_system_information.png
Labels: Guide

Document DSM spring-boot spring-kafka versioning issue with kafka-clients 3.7 (#34803)
  content/en/data_streams/setup/language/java.md
  content/en/data_streams/setup/technologies/kafka.md
Labels: none

[DOCS-13258] Restructure On-Call Pages section (#34781)
  config/_default/menus/main.en.yaml
  content/en/incident_response/on-call/_index.md
  content/en/incident_response/on-call/pages/_index.md
  content/en/incident_response/on-call/pages/cross_org_paging.md
  content/en/incident_response/on-call/pages/live_call_routing.md
  content/en/incident_response/on-call/teams.md
  content/en/incident_response/on-call/triggering_pages/_index.md
  static/images/service_management/oncall/on-call-declare-incident-demo.png
  static/images/service_management/oncall/on-call-page-side-panel.png
  static/images/service_management/oncall/on-call-pages-list.png
  static/images/service_management/oncall/on-call-pages-tab.png
  static/images/service_management/oncall/on-call-reassign-page.png
  static/images/service_management/oncall/on-call-timeline-demo.png
Labels: Architecture

Update business_transaction_tracking.md (#34815)
  content/en/data_streams/business_transaction_tracking.md
Labels: none

CCC-1645: Add Terraform tab to setup docs (#34788)
  content/en/cloud_cost_management/setup/aws.md
  static/images/cloud_cost/setup/aws_terraform_setup.png
Labels: none

replacing setup images (#34817)
  static/images/cloud_cost/setup/aws_cloudformation_setup.png
  static/images/cloud_cost/setup/aws_manual_setup.png
Labels: none

(maint) Rename Developers on home page (#34818)
  data/partials/home.yaml
Labels: none

add MWAA upgrade doc to Data Observability Airflow docs (#34578)
  content/en/data_observability/jobs_monitoring/airflow.md
  content/en/data_observability/jobs_monitoring/airflow_mwaa_upgrade.md
  static/resources/whl/apache_airflow_providers_common_compat-1.2.2-py3-none-any.whl
  static/resources/whl/apache_airflow_providers_openlineage-1.14.0-py3-none-any.whl
Labels: none

add insight to which agent processes and versions support SGC (#34791)
  content/en/agent/configuration/secrets-management.md
Labels: none

Create docs for Data Observability monitor type (#34541)
  content/en/monitors/types/_index.md
  content/en/monitors/types/data_observability.md
  static/images/monitors/monitor_types/data_observability/annotate_bounds.png
  static/images/monitors/monitor_types/data_observability/custom_sql_example.png
  static/images/monitors/monitor_types/data_observability/entity_type_selection_and_aastra.png
  static/images/monitors/monitor_types/data_observability/full_page_do_monitor_creation.png
  static/images/monitors/monitor_types/data_observability/group_by_column_selection.png
Labels: none

Update instructions (#34821)
  content/en/actions/workflows/access_and_auth.md
Labels: none

Update images (#34816)
  content/en/incident_response/on-call/guides/migrate-your-opsgenie-resources-to-on-call.md
  static/images/service_management/oncall/import-opsgenie-team-2.png
  static/images/service_management/oncall/map-opsgenie-team-to-datadog-team-2.png
Labels: none

[PANA] Improve content and create a data collected page (#34776)
  content/en/product_analytics/_index.md
Labels: none

Add docs for Data Observability Snowflake tasks and snowpipes (#34799)
  content/en/data_observability/quality_monitoring/data_warehouses/snowflake.md
Labels: none

(Actions) for Datastores, clarify that automations operate on multiple items during runs (#34823)
  content/en/actions/datastores/trigger.md
Labels: none

Document MCP Read and MCP Write permissions for MCP Server (#34828)
  content/en/bits_ai/mcp_server/_index.md
Labels: none

Add network requirements/IP allowlist section to DO warehouse docs (#34794)
  content/en/data_observability/quality_monitoring/data_warehouses/bigquery.md
  content/en/data_observability/quality_monitoring/data_warehouses/databricks.md
  content/en/data_observability/quality_monitoring/data_warehouses/snowflake.md
Labels: none

[DOCS-13461] Add APM Processing Pipelines documentation (#34787)
  config/_default/menus/main.en.yaml
  content/en/tracing/trace_pipeline/_index.md
  content/en/tracing/trace_pipeline/processing_pipelines.md
  static/images/tracing/processing_pipelines/create_pipeline.png
  static/images/tracing/processing_pipelines/manage_pipelines.png
  static/images/tracing/processing_pipelines/parser_processor.png
  static/images/tracing/processing_pipelines/processing_pipelines_overview.jpg
  static/images/tracing/processing_pipelines/remapper_processor.png
Labels: Architecture

Enable Glue jobs support in DJM (#34621)
  config/_default/menus/main.en.yaml
  content/en/data_observability/jobs_monitoring/glue.md
  content/en/data_observability/quality_monitoring/_index.md
  layouts/partials/data_jobs/setup-platforms.html
Labels: Architecture

update export api docs (#34829)
  content/en/llm_observability/evaluations/export_api.md
Labels: none

update (#34812)
  content/en/observability_pipelines/processors/grok_parser.md
Labels: none

[Feature Flags] add angular js docs for feature flags (#34473)
  config/_default/menus/main.en.yaml
  content/en/feature_flags/client/angular.md
  layouts/partials/feature_flags/feature_flags_client.html
  static/images/integrations_logos/angular_large.svg
Labels: Architecture

[AAP] Include HAproxy preview form (#34768)
  content/en/security/application_security/setup/haproxy.md
Labels: none

New example to add a tag to the log.md (#34811)
  content/en/observability_pipelines/guide/get_started_with_the_custom_processor.md
Labels: Guide

[SCICM-6800] add instructions for github and gitlab self-hosted instances on private networks (#34758)
  content/en/source_code/source-code-management.md
Labels: none

Updated to included the aggregated experience and new entry points (#34745)
  content/en/real_user_monitoring/correlate_with_other_telemetry/profiling/_index.mdoc.md
  static/images/real_user_monitoring/browser/optimizing_performance/browser_profiler_aggregate_exprience.mp4
  static/images/real_user_monitoring/browser/optimizing_performance/browser_profiler_sessions_explorer_action_panel.png
  static/images/real_user_monitoring/browser/optimizing_performance/browser_profiler_sessions_explorer_view_panel.png
  static/images/real_user_monitoring/browser/optimizing_performance/browser_profiler_sessions_explorer_vitals_panel.png
Labels: none

[synthetics] Update step replay section (#34807)
  content/en/synthetics/browser_tests/_index.md
Labels: none

Update Hot component auto-close time (#34836)
  content/en/security/code_security/software_composition_analysis/_index.md
Labels: none

[DOCS-13462] Split buffer shortcodes (#34810)
  content/en/observability_pipelines/destinations/google_pubsub.md
  content/en/observability_pipelines/destinations/kafka.md
  content/en/observability_pipelines/monitoring_and_troubleshooting/pipeline_usage_metrics.md
  content/en/observability_pipelines/processors/enrichment_table.md
  content/en/observability_pipelines/scaling_and_performance/handling_load_and_backpressure.md
  layouts/shortcodes/observability_pipelines/metrics/buffer.en.md
  layouts/shortcodes/observability_pipelines/metrics/buffer/deprecated_destination_metrics.en.md
  layouts/shortcodes/observability_pipelines/metrics/buffer/destinations.en.md
  layouts/shortcodes/observability_pipelines/metrics/buffer/processors.en.md
  layouts/shortcodes/observability_pipelines/metrics/buffer/sources.en.md
Labels: Architecture
