Repository DevKyleS/datadog-documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: Github, Images, Architecture, FAQ, Guide

.github/labeler.yml:

Github:
- .github/**/*

Images:
- assets/images/**/*

Architecture:
- local/**/*
- layouts/**/*
- config/**/*
- src/**/*

$1:
- content/en/([^/]+)/.*

FAQ:
- content/en/*/faq/*

Guide:
- content/en/*/guide/*

Include autodiscovery metrics in Telemetry Collection (#38043)
  content/en/data_security/agent.md
Labels: none

Add TIA code coverage backfilling docs (#38032)
  content/en/tests/test_impact_analysis/_index.md
Labels: none

Update Azure PostgreSQL documentation link (#38053)
  content/en/database_monitoring/setup_postgres/azure.md
Labels: none

Add Datadog Apps demo video link (#38048)
  content/en/actions/datadog_apps.md
Labels: none

Fix stale/incorrect content across existing DO docs (hygiene sweep) (#37964)
  content/en/data_observability/data_catalog.md
  content/en/data_observability/jobs_monitoring/_index.md
  content/en/data_observability/jobs_monitoring/airflow.md
  content/en/data_observability/jobs_monitoring/databricks/_index.md
  content/en/data_observability/jobs_monitoring/dataproc.md
  content/en/data_observability/jobs_monitoring/emr.md
  content/en/data_observability/jobs_monitoring/glue.md
  content/en/data_observability/quality_monitoring/business_intelligence/looker.md
  content/en/data_observability/quality_monitoring/data_lakes/aws_glue.md
  content/en/data_observability/quality_monitoring/data_warehouses/bigquery.md
  content/en/data_observability/quality_monitoring/data_warehouses/databricks.md
  content/en/data_observability/quality_monitoring/data_warehouses/redshift.md
  content/en/data_observability/quality_monitoring/data_warehouses/snowflake.md
Labels: none

Add Airbyte to the Quality Monitoring sidebar navigation (#37966)
  config/_default/menus/main.en.yaml
Labels: Architecture

[DOCS-13570] Remove = from log search special characters list (#38059)
  content/en/logs/explorer/search_syntax.md
Labels: none

Update Array Map Processor screenshots and fix grammar in processor docs (#38034)
  content/en/logs/log_configuration/processors/arithmetic_processor.md
  content/en/logs/log_configuration/processors/string_builder_processor.md
  static/images/logs/log_configuration/processor/array-map-arithmetic.png
  static/images/logs/log_configuration/processor/array-map-attribute-remapper.png
  static/images/logs/log_configuration/processor/array-map-category.png
  static/images/logs/log_configuration/processor/array-map-processor.png
  static/images/logs/log_configuration/processor/array-map-string-builder.png
Labels: none

[DOCS] Document logs_archive_search permission — two-permission model for Archive Search (#38070)
  content/en/logs/explorer/archive_search.md
  content/en/logs/guide/logs-rbac-permissions.md
Labels: Guide

docs(observability_pipelines): add WebSocket source page (#37197)
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/configuration/update_existing_pipelines.md
  content/en/observability_pipelines/sources/_index.md
  content/en/observability_pipelines/sources/websocket.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/source_env_vars/websocket.en.md
Labels: Architecture

Update FIPS proxy version references to 1.1.28 (#38030)
  content/en/agent/faq/fips_proxy.md
Labels: FAQ

Update upload-javascript-source-maps.md (#38046)
  content/en/real_user_monitoring/guide/upload-javascript-source-maps.md
Labels: Guide

Add invalid Git information troubleshooting (#37214)
  content/en/tests/troubleshooting/_index.md
Labels: none

RUM-16927: document resourceAttributesProvider body constraints in registered-delegate mode (#37749)
  layouts/shortcodes/mdoc/en/sdk/advanced_config/ios.mdoc.md
Labels: Architecture

[FFL-2653] Document Ruby flag evaluation metrics setup (#38064)
  content/en/feature_flags/guide/server_flag_evaluation_metrics.md
  content/en/feature_flags/server/ruby.md
Labels: Guide

Add ClickHouse destination docs (#36923)
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/configuration/update_existing_pipelines.md
  content/en/observability_pipelines/destinations/_index.md
  content/en/observability_pipelines/destinations/clickhouse.md
  layouts/shortcodes/observability_pipelines/configure_existing_pipelines/destination_env_vars/clickhouse.en.md
Labels: Architecture

[FFL-2653] Document Java flag evaluation metrics setup (#37927)
  content/en/feature_flags/guide/server_flag_evaluation_metrics.md
  content/en/feature_flags/implementation_patterns/opentelemetry.md
  content/en/feature_flags/server/java.md
  content/en/getting_started/feature_flags/_index.md
Labels: Guide

added docs for aws integration metric name filtering (#38023)
  content/en/getting_started/integrations/aws.md
  content/en/integrations/guide/aws-integration-and-cloudwatch-faq.md
Labels: Guide

[FFL-2653] Document non-Ruby server SDK flag evaluation metrics setup (#38065)
  content/en/feature_flags/server/dotnet.md
  content/en/feature_flags/server/go.md
  content/en/feature_flags/server/nodejs.md
  content/en/feature_flags/server/php.md
  content/en/feature_flags/server/python.md
Labels: none

Document mobile feature flag state changes (#38063)
  content/en/feature_flags/client/android.md
  content/en/feature_flags/client/ios.md
Labels: none

Document LLMObs trace sampling controls for Node.js SDK (#38076)
  content/en/llm_observability/instrumentation/sdk.md
Labels: none

Document LLMObs trace sampling controls for Python SDK (#38075)
  content/en/llm_observability/instrumentation/sdk.md
Labels: none

Add agent eBPF telemetry to list (#38078)
  content/en/data_security/agent.md
Labels: none

Fix example in .weighted() documentation (#38077)
  content/en/dashboards/guide/how-weighted-works.md
Labels: Guide

[DOCS-14571] OP Metrics GA (#37688)
  config/_default/menus/main.en.yaml
  content/en/observability_pipelines/_index.md
  content/en/observability_pipelines/configuration/_index.md
  content/en/observability_pipelines/configuration/explore_templates.md
  content/en/observability_pipelines/configuration/install_the_worker/run_multiple_pipelines_on_a_host.md
  content/en/observability_pipelines/configuration/set_up_pipelines.md
  content/en/observability_pipelines/destinations/_index.md
  content/en/observability_pipelines/destinations/elasticsearch.md
  content/en/observability_pipelines/guide/upgrade_worker.md
  content/en/observability_pipelines/processors/_index.md
  content/en/observability_pipelines/processors/aggregate.md
  content/en/observability_pipelines/processors/edit_tags.md
  content/en/observability_pipelines/processors/filter.md
  content/en/observability_pipelines/processors/tag_allow_block_list.md
  content/en/observability_pipelines/processors/tag_cardinality_control.md
  content/en/observability_pipelines/processors/tag_control/_index.md
  content/en/observability_pipelines/processors/tags.md
  content/en/observability_pipelines/search_syntax/metrics.md
  content/en/observability_pipelines/sources/_index.md
  content/en/observability_pipelines/sources/datadog_agent.md
  content/en/observability_pipelines/sources/opentelemetry.md
  static/images/observability_pipelines/processors/tag_cardinality_control_overrides.png
  static/images/observability_pipelines/processors/tag_cardinality_control_settings.png
Labels: Architecture, Guide

Revert "Document LLMObs trace sampling controls for Python SDK (#38075)" (#38086)
  content/en/llm_observability/instrumentation/sdk.md
Labels: none

[DOCS-14868] Fix Archive Search casing in Logs (#38083)
  content/en/logs/explorer/archive_search.md
  content/en/logs/guide/logs-rbac-permissions.md
  content/en/logs/guide/logs-rbac.md
  content/en/logs/guide/manage-sensitive-logs-data-access.md
  content/en/logs/guide/manage_logs_and_metrics_with_terraform.md
  content/en/logs/log_configuration/archives.md
Labels: Guide

adding experiments tile to docs homepage (#37782)
  data/partials/home.yaml
  data/products.yaml
Labels: none

[DOCS-15043] Update params.yaml (#38079)
  config/_default/params.yaml
  content/en/ide_plugins/_index.md
  content/en/ide_plugins/idea/_index.md
  content/en/ide_plugins/vscode/_index.md
Labels: Architecture

Document AI Guard evaluation context setting (#38094)
  content/en/security/_index.md
  content/en/security/ai_guard/onboarding.md
  content/en/security/ai_guard/setup/_index.md
  content/en/security/sensitive_data_scanner/setup/_index.md
Labels: none

Add Datadog Logs destination filter warning (#37988)
  content/en/observability_pipelines/destinations/datadog_logs.md
Labels: none

chore: correct GCP references in Azure Container Apps docs (#38081)
  content/en/serverless/azure_container_apps/sidecar/nodejs.md
  layouts/shortcodes/serverless-init-configure.html
  layouts/shortcodes/serverless-init-env-vars-sidecar.html
Labels: Architecture

Add Hex integration doc to Data Observability BI section (#36400)
  content/en/data_observability/quality_monitoring/business_intelligence/_index.md
  content/en/data_observability/quality_monitoring/business_intelligence/hex.md
Labels: none

Update Team Management docs for the unified team page (#38036)
  content/en/account_management/teams/manage.md
Labels: none

Update troubleshooting.md (#38022)
  content/en/database_monitoring/setup_sql_server/troubleshooting.md
Labels: none

Add Analysis Monitor supported/unsupported sources (#38090)
  content/en/monitors/types/analysis.md
Labels: none

Fix broken image-card links on Azure Database and Messaging Services page (#38093)
  content/en/serverless/azure_database_messaging_services/_index.md
Labels: none

remove sdk version github action (#37929)
  .github/CODEOWNERS
  .github/chainguard/self.bump-versions.create-pr.sts.yaml
  .github/workflows/bump_versions.yml
  Makefile
  data/sdk_versions.json
Labels: Github

[EX-2942] Add Metric Property Breakouts documentation (#37714)
  config/_default/menus/main.en.yaml
  content/en/experiments/metric_property_breakouts.md
  static/images/product_analytics/experiment/metric_property_breakouts/config.png
  static/images/product_analytics/experiment/metric_property_breakouts/scorecard.png
Labels: Architecture

Clarify allowed characters in RUM operation names (#38099)
  content/en/real_user_monitoring/operations_monitoring.md
Labels: none
